<!--<button id="callSuc" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commonAlertModal">-->
<!--success-->
<!--</button>-->

<!--<button id="callerror" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commonAlertModal">-->
<!--error-->
<!--</button>-->

<div class="modal fade" id="commonAlertModal" tabindex="-1" aria-labelledby="commonAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">

        <div class="success d-flex align-items-center justify-content-center flex-column">
          <img src="./assets/img/correct.png" alt="success message img">
          <h5>Success</h5>
          <p>
            Lorem ipsum dolor sit amet, amet stet eligendi quo ex, noluisse inimicus salutandi an vel, ea justo saperet qui. Eam at torquatos democritum, ut laudem voluptua nec.
          </p>
          <button type="button" class="btn btn-custom-primary px-4" data-bs-dismiss="modal" aria-label="Close">Continue</button>
        </div>

        <div class="error d-flex align-items-center justify-content-center flex-column d-none">
          <img src="./assets/img/error.png" alt="success message img">
          <h5>Error</h5>
          <p>
            Lorem ipsum dolor sit amet, amet stet eligendi quo ex, noluisse inimicus salutandi an vel, ea justo saperet qui. Eam at torquatos democritum, ut laudem voluptua nec.
          </p>
          <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>


      </div>
    </div>
  </div>
</div>