<div class="filter-form-container row w-100 align-items-center mx-0 sticky-top">

    <form class="col row align-items-center mx-0 d-none d-lg-flex">

        <div class="col row controls align-items-stretch mx-0">
            <div class="col">
                <div class="form-floating">

                    <select id="bedroomSelect" class="form-control selectpicker">
                        <option>1 Bedroom</option>
                        <option>2 Bedrooms</option>
                        <option>3 Bedrooms</option>
                        <option>4 Bedrooms</option>
                        <option>5 Bedrooms</option>
                    </select>

                    <label for="bedroomSelect">Bedrooms</label>
                </div>
            </div>

            <div class="col">

                <div class="dropdown budget-dropdown">
                    <label>
                        Budget
                    </label>
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton12"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span>0</span> <span>to Any</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-expanded" aria-labelledby="dropdownMenuButton12">
                        <div class="info d-flex justify-content-between align-items-center">
                            <label>
                                Budget
                            </label>

                            <div class="switch-container">
                                <span>
                                    Selling Price
                                </span>
                                <div class="form-check form-switch form-switch-md">

                                    <label class="form-check-label" for="flexSwitchCheckDefault">
                                    </label>
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="flexSwitchCheckDefault">
                                </div>
                                <span>
                                    Price per SQFT
                                </span>
                            </div>
                        </div>

                        <div class="slider-range-container">
                            <div class="slider-range" id="budgetRange">
                            </div>
                            <div id="budget-labels" class="sliderLabels">
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col">
                <div class="form-floating">

                    <select id="possesionYear" class="form-control selectpicker">
                        <option value="1">1 year</option>
                        <option value="2">1 years</option>
                    </select>

                    <label for="possesionYear">POSSESSION WITHIN</label>
                </div>
            </div>

            <div class="col">
                <div class="dropdown">
                    <label>
                        Location
                    </label>
                    <button class="btn dropdown-toggle" type="button" id="locationDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        City, Area
                    </button>

                    <div class="dropdown-menu dropdown-menu-expanded p-4" aria-labelledby="locationDropdown">

                        <div class="mb-3">
                            <label for="cityFilterInput" class="form-label ms-0">Location</label>
                            <input type="text" class="form-control" id="cityFilterInput" placeholder="Type city name">
                        </div>

                        <div class="row mx-0">
                            {% for i in (1..24) %}
                            <div class="col-12 col-sm-6 col-lg-4 form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="filter_location"
                                       value="colombo{{i}}" id="colombo{{i}}">
                                <label class="form-check-label" for="colombo{{i}}">
                                    Colombo {{i}}
                                </label>
                            </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="dropdown overflow-hidden">
                    <label>
                        MORE FILTERS
                    </label>
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        <span>Property Type, Amenities, etc…</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-auto">

            <button type="button" class="btn btn-reset">
                <i class="fa fa-repeat" aria-hidden="true"></i>
                Reset All
            </button>
        </div>

    </form>

    <div class="d-flex justify-content-center align-items-start d-lg-none filter-mobile-btn-container"
         data-bs-toggle="modal" data-bs-target="#mobModal">
        <i class="fa fa-sliders mt-3" aria-hidden="true"></i>
        <span>Filters</span>
    </div>

    <div class="d-flex justify-content-end map-btn-container">
        <div class="form-check form-switch form-switch-md mb-0">

            <label class="form-check-label" for="flexSwitchCheckDefault11">
                Shows on map
            </label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault11">
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade more-filter-modal" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0 align-items-start">
                    <h5 class="title-content-1 mb-0">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="filterKeyword" class="form-label">KEYWORD SEARCH</label>
                            <input type="text" class="form-control" placeholder="Enter search keywords"
                                   id="filterKeyword">
                        </div>
                        <label class="form-label">
                            PROPERTY TYPE
                        </label>
                        <div class="mb-1 chip-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                <label class="form-check-label" for="flexCheckChecked1">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                        </div>
                        <label class="form-label mb-0">
                            AREA SQFT
                        </label>

                        <div class="slider-range-container">
                            <div class="slider-range" id="areaSqftRange">
                            </div>
                            <div id="areaSqftLabels" class="sliderLabels">
                            </div>
                        </div>

                        <label class="form-label mt-4">
                            AMENITIES
                        </label>

                        <div class="mb-1 chip-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                <label class="form-check-label" for="flexCheckChecked1">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                        </div>


                        <label class="form-label mt-2 ">
                            LOCATION & VIEW
                        </label>

                        <div class="mb-1 chip-check">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="seaView">
                                <label class="form-check-label" for="seaView">
                                    Sea View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="greenView">
                                <label class="form-check-label" for="greenView">
                                    Green View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="greenView">
                                <label class="form-check-label" for="greenView">
                                    Near School
                                </label>
                            </div>


                        </div>

                    </form>
                </div>
                <div class="modal-footer row mx-0">
                    <div class="col ps-4">
                        <p class="mb-0">
                            Showing <b>245 Properties</b>
                        </p>
                    </div>
                    <div class="col d-flex justify-content-end">

                        <a href="#" class="btn btn-link btn-reset me-3 bg-transparent">
                            <i class="fa fa-repeat" aria-hidden="true"></i>
                            Reset All
                        </a>
                        <a href="#" class="btn btn-custom-primary">
                            FILTER
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--mobile model-->

<div class="modal fade mobile-search-modal" id="mobModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-content-2" id="exampleModalLabel">Search Filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>

                    <div class="mb-3">
                        <div class="">
                            <div class="mb-3">
                                <label for="cityFilterInput" class="form-label ms-0">Location</label>
                                <input type="text" class="form-control" id="cityFilterInputMobile"
                                       placeholder="Type city name">
                            </div>

                            <div class="row mx-0">
                                {% for i in (1..24) %}
                                <div class="col-6 col-sm-6 col-lg-4 form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="filter_location_mobile"
                                           value="colombo{{i}}" id="mobile_colombo{{i}}">
                                    <label class="form-check-label" for="colombo{{i}}">
                                        Colombo {{i}}
                                    </label>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="bedroom_mobile" class="form-label">BEDROOMS</label>
                        <select id="bedroom_mobile" class="form-control selectpicker">
                            <option>1 Bedroom</option>
                            <option>2 Bedrooms</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="bedroom_mobile" class="form-label">POSSESSION WITHIN</label>
                        <select id="possession_mobile" class="form-control selectpicker">
                            <option>1 Bedroom</option>
                            <option>2 Bedrooms</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">BUDGET</label>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name"
                                       aria-label="First name">
                            </div>
                            <div class="col-auto">
                                To
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="keywordsMobile" class="form-label">KEYWORDS</label>
                        <input type="text" class="form-control" id="keywordsMobile">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">PROPERTY TYPE</label>
                        <div class="mb-1 chip-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault__1">
                                <label class="form-check-label" for="flexCheckDefault__1">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked__2">
                                <label class="form-check-label" for="flexCheckChecked__2">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1__3">
                                <label class="form-check-label" for="flexCheckChecked1__3">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked__4">
                                <label class="form-check-label" for="flexCheckChecked__4">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked__5">
                                <label class="form-check-label" for="flexCheckChecked__5">
                                    Office Spaces
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="mb-3">

                        <label class="form-label mb-0">
                            AREA SQFT
                        </label>

                        <div class="slider-range-container">
                            <div class="slider-range" id="areaSqftRangeMobile">
                            </div>
                            <div id="areaSqftLabelsMobile" class="sliderLabels">
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label class="form-label mt-4">
                            AMENITIES
                        </label>

                        <div class="mb-1 chip-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultm">
                                <label class="form-check-label" for="flexCheckDefaultm">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                <label class="form-check-label" for="flexCheckChecked1">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Office Spaces
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label mt-2 ">
                            LOCATION & VIEW
                        </label>

                        <div class="mb-1 chip-check">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="seaView__1">
                                <label class="form-check-label" for="seaView__1">
                                    Sea View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="greenView">
                                <label class="form-check-label" for="greenView">
                                    Green View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="greenView">
                                <label class="form-check-label" for="greenView">
                                    Near School
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


            <div class="modal-footer row mx-0 d-flex justify-content-between">
                <div class="col-auto p-0">
                    <a href="#" class="btn btn-link btn-reset me-3 bg-transparent">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                        Reset All
                    </a>
                </div>
                <div class="col-auto p-0">
                    <a href="#" class="btn btn-custom-primary px-5">
                        FILTER
                    </a>
                </div>
            </div>

            <!--            <div class="modal-footer">-->
            <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
            <!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            <!--            </div>-->
        </div>
    </div>
</div>
