<div class="filter-form-container row w-100 align-items-center mx-0">
    <form class="col row align-items-center mx-0 d-none d-lg-flex">
        <div class="col row controls align-items-stretch mx-0">


            <div class="col">
                <div class="form-floating">
                    <select id="city" class="form-control selectpicker" data-live-search="true" title="City, Area"
                            multiple>
                        <option value="1">Colombo 1</option>
                        <option value="2">Colombo 2</option>
                    </select>
                    <label for="possesionYear">Location</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <select id="bedroomSelect" class="form-control selectpicker" title="No of Bedrooms">
                        <option>1 Bedroom</option>
                        <option>2 Bedrooms</option>
                        <option>3 Bedrooms</option>
                        <option>4 Bedrooms</option>
                        <option>5 Bedrooms</option>
                    </select>

                    <label for="bedroomSelect">Bedrooms</label>
                </div>
            </div>

            <div class="col">
                <div class="dropdown budget-dropdown">
                    <label>
                        Budget
                    </label>
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton12"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span id="budgetStart">0</span>
                        to
                        <span id="budgetEnd">Any</span>
                    </button>

                    <div class="dropdown-menu dropdown-menu-expanded" aria-labelledby="dropdownMenuButton12"
                         onclick="event.stopPropagation()">

                        <div class="row g-0 button-container">
                            <div class="col">
                                <input type="radio" class="btn-check" value="total" name="budgetType" id="option1"
                                       autocomplete="off" checked>
                                <label class="btn btn-success w-100" for="option1">Total</label>
                            </div>
                            <div class="col">
                                <input type="radio" class="btn-check" value="sqft" name="budgetType" id="option2"
                                       autocomplete="off">
                                <label class="btn btn-success w-100" for="option2">Per SQFT</label>
                            </div>
                        </div>

                        <div class="row g-0 gx-1 mt-2">
                            <div class="col">
                                <select id="minPrice" class="form-select">
                                    <option value="0">0</option>
                                    {% for i in (1..10) %}
                                    <option value="{{i}}M">{{i}}M</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select id="maxPrice" class="form-select">
                                    <option value="any" selected>any</option>
                                    {% for i in (1..10) %}
                                    <option value="{{i}}M">{{i}}M</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label rubik-light mt-1" for="gridCheck"
                                           style="color: #000 !important; text-transform: none; font-size: 14px;">
                                        Includes Ads without price
                                    </label>
                                </div>
                            </div>
                        </div>


                        <!--                        <div class="info d-flex justify-content-between align-items-center">-->
                        <!--                            <label>-->
                        <!--                                Budget-->
                        <!--                            </label>-->

                        <!--                            <div class="switch-container">-->
                        <!--                                <span>-->
                        <!--                                    Selling Price-->
                        <!--                                </span>-->
                        <!--                                <div class="form-check form-switch form-switch-md">-->

                        <!--                                    <label class="form-check-label" for="flexSwitchCheckDefault">-->
                        <!--                                    </label>-->
                        <!--                                    <input class="form-check-input" type="checkbox" role="switch"-->
                        <!--                                           id="flexSwitchCheckDefault">-->
                        <!--                                </div>-->
                        <!--                                <span>-->
                        <!--                                    Price per SQFT-->
                        <!--                                </span>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <!--                        <div class="slider-range-container">-->
                        <!--                            <div class="slider-range" id="budgetRange">-->
                        <!--                            </div>-->
                        <!--                            <div id="budget-labels" class="sliderLabels">-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                    </div>
                </div>

            </div>

            <div class="col">
                <div class="form-floating">
                    <select id="possesionYear" class="form-control selectpicker" title="in years">
                        <option value="1">1 year</option>
                        <option value="2">2 years</option>
                    </select>
                    <label for="possesionYear">POSSESSION WITHIN</label>
                </div>
            </div>


            <div class="col">
                <div class="dropdown more-dropdown">
                    <label>
                        MORE FILTERS
                    </label>
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        <span>Property Type, Amenities, etc…</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-auto">

            <button id="btnResetDesktop" type="reset" class="btn btn-reset">
                <i class="fa fa-repeat" aria-hidden="true"></i>
                Reset All
            </button>
        </div>

    </form>

    <div class="d-flex justify-content-center align-items-start d-lg-none filter-mobile-btn-container"
         data-bs-toggle="modal" data-bs-target="#mobModal">
        <i class="fa fa-sliders mt-3" aria-hidden="true"></i>
        <span>Filters</span>
    </div>

    <div class="d-flex justify-content-end map-btn-container">
        <div class="form-check form-switch form-switch-md mb-0">

            <label class="form-check-label" for="showOnMap">
                Shows on map
            </label>
            <input class="form-check-input" type="checkbox" role="switch" id="showOnMap">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade more-filter-modal" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form>

                <div class="modal-content">

                    <div class="modal-header border-0 align-items-start">
                        <h5 class="title-content-1 mb-0">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="filterKeyword" class="form-label">KEYWORD SEARCH</label>
                            <input type="text" class="form-control" placeholder="Enter search keywords"
                                   id="filterKeyword">
                        </div>
                        <label class="form-label">
                            PROPERTY TYPE
                        </label>
                        <div class="mb-1 chip-check">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Residential Apartment"
                                       name="propertyType" id="propertyType1">
                                <label class="form-check-label" for="propertyType1">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Residential Lands"
                                       name="propertyType" id="propertyType2">
                                <label class="form-check-label" for="propertyType2">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Independent Houses/Villas"
                                       name="propertyType" id="propertyType3">
                                <label class="form-check-label" for="propertyType3">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Commercial Properties"
                                       name="propertyType" id="propertyType4">
                                <label class="form-check-label" for="propertyType4">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Office Spaces" name="propertyType"
                                       id="propertyType5">
                                <label class="form-check-label" for="propertyType5">
                                    Office Spaces
                                </label>
                            </div>

                        </div>
                        <label class="form-label mb-0">
                            AREA SQFT
                        </label>

                        <div class="slider-range-container">
                            <div class="slider-range" id="areaSqftRange">
                            </div>
                            <div id="areaSqftLabels" class="sliderLabels">
                            </div>
                        </div>

                        <label class="form-label mt-4">
                            AMENITIES
                        </label>

                        <div class="mb-1 chip-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Residential Apartment"
                                       name="AMENITIES" id="AMENITIES1">
                                <label class="form-check-label" for="AMENITIES1">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES2">
                                <label class="form-check-label" for="AMENITIES2">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES3">
                                <label class="form-check-label" for="AMENITIES3">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES4">
                                <label class="form-check-label" for="AMENITIES4">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES5">
                                <label class="form-check-label" for="AMENITIES5">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES6">
                                <label class="form-check-label" for="AMENITIES6">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES7">
                                <label class="form-check-label" for="AMENITIES7">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES8">
                                <label class="form-check-label" for="AMENITIES8">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIES"
                                       id="AMENITIES9">
                                <label class="form-check-label" for="AMENITIES9">
                                    Office Spaces
                                </label>
                            </div>

                        </div>


                        <label class="form-label mt-2 ">
                            LOCATION & VIEW
                        </label>

                        <div class="mb-1 chip-check">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="locationView"
                                       id="locationView1">
                                <label class="form-check-label" for="locationView1">
                                    Sea View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="locationView"
                                       id="locationView2">
                                <label class="form-check-label" for="locationView2">
                                    Green View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="locationView"
                                       id="locationView3">
                                <label class="form-check-label" for="locationView3">
                                    Near School
                                </label>
                            </div>


                        </div>

                    </div>
                    <div class="modal-footer row mx-0">
                        <div class="col ps-4">
                            <p class="mb-0">
                                Showing <b>245 Properties</b>
                            </p>
                        </div>
                        <div class="col d-flex justify-content-end">

                            <button id="desktopModalBtnReset" type="reset"
                                    class="btn btn-link-custom btn-reset me-3 bg-transparent text-decoration-none">
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                Reset All
                            </button>

                            <a href="#" class="btn btn-custom-primary">
                                FILTER
                            </a>
                        </div>

                    </div>
                </div>

            </form>

        </div>

    </div>
</div>


<!--mobile model-->

<div class="modal fade mobile-search-modal" id="mobModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <form>
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title title-content-2" id="exampleModalLabel">Search Filters</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="possesionYear">Location</label>
                        <select id="cityMobile" class="form-control selectpicker" data-live-search="true"
                                title="City, Area" multiple>
                            <option value="1">Colombo 1</option>
                            <option value="2">Colombo 2</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label class="form-label">BEDROOMS</label>
                        <div class="mb-1 chip-check">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="" name="bedroomMobile"
                                       id="anyBedroom">
                                <label class="form-check-label" for="anyBedroom">
                                    Any
                                </label>
                            </div>

                            {% for i in (1..5) %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="" name="bedroomMobile"
                                       id="{{i}}Room">
                                <label class="form-check-label" for="{{i}}Room">
                                    {{i}} + Rooms
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">POSSESSION WITHIN</label>

                        <div class="mobile-possession">
                            {% for i in (1..4) %}
                            <div class="check-box">
                                <input type="radio" class="btn-check" name="possessionInputMobile" id="{{i}}mobPoss" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="{{i}}mobPoss">
                                    {{i}} yr
                                </label>
                            </div>
                            {% endfor %}


                            <div class="check-box">
                                <select id="possessionPlus" class="form-control selectpicker"
                                        title="5+">
                                    <option value="1">6</option>
                                    <option value="2">7</option>
                                    <option value="2">8</option>
                                </select>
                            </div>

                        </div>

                        <!--                        <div class="mb-1 chip-check">-->
                        <!--                            {% for i in (1..5) %}-->
                        <!--                            <div class="form-check">-->
                        <!--                                <input class="form-check-input" type="radio" value="" name="possessionMobile" id="{{i}}year">-->
                        <!--                                <label class="form-check-label" for="{{i}}year">-->
                        <!--                                    {{i}} + year-->
                        <!--                                </label>-->
                        <!--                            </div>-->
                        <!--                            {% endfor %}-->
                        <!--                        </div>-->
                    </div>

                    <div class="mb-3">
                        <label class="form-label">BUDGET</label>

                        <div class="row g-0 button-container mb-2">
                            <div class="col">
                                <input type="radio" class="btn-check" value="total" name="budgetTypeMobile"
                                       id="budgetTypeMobile1"
                                       autocomplete="off" checked>
                                <label class="btn btn-success w-100" for="budgetTypeMobile1">Total</label>
                            </div>
                            <div class="col">
                                <input type="radio" class="btn-check" value="sqft" name="budgetTypeMobile"
                                       id="budgetTypeMobile2"
                                       autocomplete="off">
                                <label class="btn btn-success w-100" for="budgetTypeMobile2">Per SQFT</label>
                            </div>
                        </div>

                        <div class="row gx-2 align-items-center">
                            <div class="col">
                                <select class="form-select">
                                    <option value="0">0</option>
                                    {% for i in (1..10) %}
                                    <option value="{{i}}M">{{i}}M</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-auto">
                                To
                            </div>

                            <div class="col">
                                <select class="form-select">
                                    <option value="any" selected>any</option>
                                    {% for i in (1..10) %}
                                    <option value="{{i}}M">{{i}}M</option>
                                    {% endfor %}
                                </select>
                            </div>


                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="keywordsMobile" class="form-label">KEYWORDS</label>
                        <input type="text" class="form-control" id="keywordsMobile">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">PROPERTY TYPE</label>
                        <div class="mb-1 chip-check">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Residential Apartment"
                                       name="propertyTypeMobile" id="propertyTypeMobile1">
                                <label class="form-check-label" for="propertyTypeMobile1">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Residential Lands"
                                       name="propertyTypeMobile" id="propertyTypeMobile2">
                                <label class="form-check-label" for="propertyTypeMobile2">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Independent Houses/Villas"
                                       name="propertyTypeMobile" id="propertyTypeMobile3">
                                <label class="form-check-label" for="propertyTypeMobile3">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Commercial Properties"
                                       name="propertyTypeMobile" id="propertyTypeMobile4">
                                <label class="form-check-label" for="propertyTypeMobile4">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="Office Spaces"
                                       name="propertyTypeMobile" id="propertyTypeMobile5">
                                <label class="form-check-label" for="propertyTypeMobile5">
                                    Office Spaces
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="mb-3">

                        <label class="form-label mb-0">
                            AREA SQFT
                        </label>

                        <div class="slider-range-container">
                            <div class="slider-range" id="areaSqftRangeMobile">
                            </div>
                            <div id="areaSqftLabelsMobile" class="sliderLabels">
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label class="form-label mt-4">
                            AMENITIES
                        </label>

                        <div class="mb-1 chip-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Residential Apartment"
                                       name="AMENITIESMobil" id="AMENITIESMobil1">
                                <label class="form-check-label" for="AMENITIESMobil1">
                                    Residential Apartment
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil2">
                                <label class="form-check-label" for="AMENITIESMobil2">
                                    Residential Lands
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil3">
                                <label class="form-check-label" for="AMENITIESMobil3">
                                    Independent Houses/Villas
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil4">
                                <label class="form-check-label" for="AMENITIESMobil4">
                                    Commercial Properties
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil5">
                                <label class="form-check-label" for="AMENITIESMobil5">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil6">
                                <label class="form-check-label" for="AMENITIESMobil6">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil7">
                                <label class="form-check-label" for="AMENITIESMobil7">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil8">
                                <label class="form-check-label" for="AMENITIESMobil8">
                                    Office Spaces
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="AMENITIESMobil"
                                       id="AMENITIESMobil9">
                                <label class="form-check-label" for="AMENITIESMobil9">
                                    Office Spaces
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label mt-2 ">
                            LOCATION & VIEW
                        </label>

                        <div class="mb-1 chip-check">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="locationViewMobil"
                                       id="locationViewMobil1">
                                <label class="form-check-label" for="locationViewMobil1">
                                    Sea View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="locationViewMobil"
                                       id="locationViewMobil2">
                                <label class="form-check-label" for="locationViewMobil2">
                                    Green View
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="locationViewMobil"
                                       id="locationViewMobil3">
                                <label class="form-check-label" for="locationViewMobil3">
                                    Near School
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer row mx-0 d-flex justify-content-between">
                    <div class="col-auto p-0">

                        <button type="reset" id="btnResetMobile" href="#"
                                class="btn btn-link-custom btn-reset me-3 bg-transparent">
                            <i class="fa fa-repeat" aria-hidden="true"></i>
                            Reset All
                        </button>
                    </div>
                    <div class="col-auto p-0">
                        <a href="#" class="btn btn-custom-primary px-5">
                            FILTER
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
