<div class="row">
    <div class="col-12 col-lg-5 col-xl-4 info-container">

        <div class="info-item">
            <label>
                FLOOR AREA
            </label>
            <b>568 sqft</b>
        </div>

        <div class="info-item">
            <label>
                BEDROOMS
            </label>
            <b>1</b>
        </div>

        <div class="info-item">
            <label>
                BATHROOMS
            </label>
            <b>1</b>
        </div>

        <div class="info-item">
            <label>
                PARKING SPACES
            </label>
            <b>2</b>
        </div>

        <div class="info-item">
            <label>
                UNITS AVAILABLE
            </label>
            <div class="lh-0">
                                                        <span class="text-decoration-line-through">
                                                        20
                                                    </span>
                <b>12</b></div>
        </div>

        <div class="info-item">
            <label>
                PRICE
            </label>

            <b class="primary">Rs. 24,700,000</b>
        </div>

        <div class="info-item mb-2">
            <label>
                VIEWS
            </label>

            <div class="custom-chip-checks">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           value="Residential Apartment"
                           name="propertyType" id="view_1">
                    <label class="form-check-label" for="view_1">
                        Sea View
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           value="Residential Apartment"
                           name="propertyType" id="view_2">
                    <label class="form-check-label" for="view_2">
                        City View
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           value="Residential Apartment"
                           name="propertyType" id="view_3">
                    <label class="form-check-label" for="view_3">
                        Beach Front
                    </label>
                </div>

            </div>

        </div>

        <div class="info-item">
            <label>
                ADDITIONAL FEATURES
            </label>

            <b>Lorem ipsum dolor sit amet</b>
        </div>

    </div>
    <div class="col-12 col-lg-7 col-xl-8 p-xl-3 d-flex flex-column justify-content-center align-items-center image-container">

        <div class="w-100 d-flex justify-content-end pb-3">
            <div class="form-check form-switch form-switch-md mb-0 d-flex align-items-center ps-0">

                <label class="form-check-label" for="showOnMap">
                    2D
                </label>
                <input class="form-check-input mx-2 mt-0" type="checkbox" role="switch" id="showOnMap">
                <label class="form-check-label" for="showOnMap">
                    3D
                </label>
            </div>
        </div>

        <img class="img-fluid floor-img"
             src="./assets/img/details/features/building-view.png"
             alt="building view">
        <span>
                                                    3D aerial view
                                                </span>
        <img data-img="./assets/img/details/features/building-view.png" class="zoom" src="./assets/img/details/zoom-in(1).svg" alt=""  data-bs-toggle="modal" data-bs-target="#zoomModal">
    </div>
</div>