<div class="container-fluid new-footer-container pt-4">
    <div class="row px-sm-2 px-md-3 px-xl-4">
        <div class="col-md-4 col-lg-3">
            <div class="footer-sec">
                <h3 class="footer-title">Navigation</h3>
                <ul class="row">
                    <li class="col-6"><a href="/">Home</a></li>
                    <li class="col-6"><a href="/sale/index.php">Sales</a></li>
                    <li class="col-6"><a href="/rentals/index.php">Rentals</a></li>
                    <li class="col-6"><a href="/land/index.php">Land</a></li>
                    <li class="col-6"><a href="/condo-directory/">New Developments</a></li>
                    <li class="col-6"><a href="/idealhome/">Ideal Home</a></li>
                    <li class="col-6"><a href="/myaccountV2/login?blink">Post your ad</a></li>
                    <li class="col-6"><a href="/wanted/wanted.php">Wanted</a></li>
                    <li class="col-6"><a href="/agents/estate_agents.php">Find Agent</a></li>
                    <li class="col-6"><a href="/services/property_services.php">Services</a></li>
                    <li class="col-6"><a href="/maps/sri-lanka-maps.php">Maps</a></li>
                    <li class="col-6"><a href="/property-news/">News &amp; Guides</a></li>
                    <li class="col-6"><a href="/membership-benefits/">Become a Member</a></li>
                    <li class="col-6"><a href="/myaccountV2/login?blink">Login</a></li>
                    <li class="col-6"><a href="/listAds.php">All ads&nbsp;&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="footer-sec">
                <h3 class="footer-title">About</h3>
                <ul class="row">
                    <li class="col-6 col-md-12"><a href="/FAQs.php">Help</a></li>
                    <li class="col-6 col-md-12"><a href="/contact-us/">Contact Us</a></li>
                    <li class="col-6 col-md-12"><a href="/aboutus.php">About Us</a></li>
                    <li class="col-6 col-md-12"><a href="/termsandcond.php">Terms and Conditions</a></li>
                    <li class="col-6 col-md-12"><a href="/privacy-policy.php">Privacy Policy</a></li>
                    <li class="col-6 col-md-12"><a href="/careers/">Careers&nbsp;&nbsp;&nbsp;</a></li>
                    <li class="col-6 col-md-12"><a href="/events/">Events&nbsp;&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="footer-sec">
                <h3 class="footer-title">Features</h3>
                <ul class="row">
                    <li class="col-6 col-md-12"><a href="/house_prices.php">House Price Index</a></li>
                    <li class="col-6 col-md-12"><a href="/housing-loan-comparison/">Housing Loan Comparison</a></li>
                    <li class="col-6 col-md-12"><a href="/housing-loan-calculator/">Home Loan Calculator</a></li>
                    <li class="col-6 col-md-12"><a href="/buyers-sellers-assistance/">Buyer &amp; Seller
                        Assistance</a></li>
                    <li class="col-6 col-md-12"><a href="/features/property-buying-guide/">Property Buying Guide</a>
                    </li>
                    <li class="col-6 col-md-12"><a href="/location-guide/">Location Guide</a></li>
                    <li class="col-6 col-md-12"><a href="/invest/trending-properties/">Trending Properties</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-3 social-subscribe">
            <div class="footer-sec">
                <h3 class="footer-title footer-title-fix">Follow us on Social Media</h3>
                <ul class="list-inline social-icons">
                    <li class=""><a
                            href="https://www.facebook.com/lankapropertyweb" aria-label="Follow us on FB"
                            target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
                    <li class=""><a
                            href="https://twitter.com/lankaproperty" aria-label="Follow us on Twitter" target="_blank"
                            rel="noopener"><i class="fa fa-twitter"></i></a></li>
                    <li class=""><a
                            href="https://www.instagram.com/lankapropertyweb/" aria-label="Follow us on Instagram"
                            target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
                    <li class=""><a
                            href="https://www.linkedin.com/company/lankapropertyweb/" aria-label="Follow us on Linkedin"
                            target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    <li class=""><a
                            href="https://uk.pinterest.com/lankaproperty/pins/follow/?guid=Ts5d90srYLEk"
                            aria-label="Follow us on Pinterest" target="_blank" rel="noopener"><i
                            class="fa fa-pinterest"></i></a></li>
                    <li class=""><a
                            href="https://www.youtube.com/channel/UCTBdVMxMWnyUxZOwIOKHmbQ"
                            aria-label="Follow us on Youtube" target="_blank" rel="noopener"><i
                            class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="footer-sec subscribe-section">
                <h3 class="footer-title mt-4 pt-2 mb-3">Subscribe to our newsletter</h3>
                <form class="row gx-0">
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">Email</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Enter Your Email" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-custom-primary">Subscribe</button>
                    </div>
                </form>
                <!-- Modal for message changes  --->
            </div>
            <!--</section> -->
            <div class="footer-sec" align="center" style="display: none;">
                <img class="lozad fade_lazy" width="200px" height="112px"
                     data-src="https://lpw.s3.ap-south-1.amazonaws.com/images/SLT-Zero-One-award.webp"
                     alt="SLT Zero-One awards - winner best website"
                     src="https://lpw.s3.ap-south-1.amazonaws.com/images/SLT-Zero-One-award.webp" data-loaded="true">
                <p>
                    <a href="https://play.google.com/store/apps/details?id=com.lankapropertyweb.lpw" target="_blank"
                       rel="noopener"><img class="lozad fade_lazy" width="150px" height="47px"
                                           data-src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b1.webp"
                                           alt="Get Lankapropertyweb app on Google Play"
                                           src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b1.webp"
                                           data-loaded="true"></a></p>
                <p>
                    <a href="https://itunes.apple.com/us/app/lankapropertyweb-property-app/id1439047852#?platform=iphone"
                       target="_blank" rel="noopener"><img width="150px" height="47px" class="lozad fade_lazy"
                                                           data-src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b2.webp"
                                                           alt="Get Lankapropertyweb app on App Store"
                                                           src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b2.webp"
                                                           data-loaded="true"></a></p>
                <p>
                </p></div>
        </div>
        <div class="col-12 col-md-12 col-lg-2 footericons" align="center">
            <img class="img-fluid" width="200px" height="112px"
                 data-src="https://lpw.s3.ap-south-1.amazonaws.com/images/SLT-Zero-One-award.webp"
                 alt="SLT Zero-One awards - winner best website"
                 src="https://lpw.s3.ap-south-1.amazonaws.com/images/SLT-Zero-One-award.webp" data-loaded="true">
            <p>
                <a href="https://play.google.com/store/apps/details?id=com.lankapropertyweb.lpw" target="_blank"
                   rel="noopener">
                    <img class="img-fluid" width="150px" height="47px"
                         data-src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b1.webp"
                         alt="Get Lankapropertyweb app on Google Play"
                         src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b1.webp"
                         data-loaded="true"></a></p>
            <p>
                <a href="https://itunes.apple.com/us/app/lankapropertyweb-property-app/id1439047852#?platform=iphone"
                   target="_blank" rel="noopener">
                    <img width="150px" height="47px" class="img-fluid"
                         data-src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b2.webp"
                         alt="Get Lankapropertyweb app on App Store"
                         src="https://lpw.s3.ap-south-1.amazonaws.com/images/apps/b2.webp"
                         data-loaded="true"></a></p>
            <p>
            </p>
        </div>
    </div>
    <div class="row copyright px-sm-2 px-md-3 px-xl-4">
        <p class="m-0">
            © Copyright LankaPropertyWeb.com, lpw.lk 2022 | All Rights Reserved
        </p>
    </div>
</div>