<div class="container-fluid new-header">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center top-bar mb-2 mb-sm-0 px-lg-3">
        <img width="221px" height="61px" src="https://www.lankapropertyweb.com/images/logo/lpw_logo_v12.svg"
             alt="LPW Logo">
        <div class="d-flex">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link">Login </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Post Your Ad</a>
                </li>
                <li class="nav-item lang">
                    <a class="nav-link" href="#">Eng</a>
                </li>
                <li class="nav-item lang">
                    <a class="nav-link px-0" href="#">සිංහල</a>
                </li>
                <li class="nav-item lang">
                    <a class="nav-link" href="#">தமிழ்</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light nav-pills new-main-nav py-0">
            <div class="container-fluid px-0 px-lg-3">
                <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rentals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Land</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">New Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Invest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Wanted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Find Agent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">More</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                    <span class="fa fa-star" title="My Favourite Properties">
                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


</div>