<div class="card property-list-item mb-3">
    <div class="row flex-column flex-md-row">
        <div class="col-12 col-md-4 col-lg-3 img-container pe-lg-0">
            <img src="assets/img/building.png" class="img-fluid" alt="property">
            <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            <div class="icons-container">
                <div class="text-body">
                    <img src="./assets/img/camera.svg" alt="camera">
                    6
                </div>
                <div class="text-body">
                    <img src="./assets/img/video-camera.svg" alt="video camera">1
                </div>
                <div class="text-body">
                    <img src="./assets/img/rotation.svg" alt="rotate">3D
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <div class="card-body">
                <div class="row mb-2 mb-md-3">
                    <div class="col">
                        <h5 class="title-content-1">Rush Reliance</h5>
                        <div class="location title-light-1 mb-2">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Mount Lavinia
                        </div>
                        <div class="title-content-2 price-container">
                            Rs. 34.5 Mn
                            <span class="price-label">Upwards</span>
                            <sup class="sqft">
                                (Price per sqft Rs. 12000)
                            </sup>
                        </div>
                    </div>
                    <div class="col-auto d-none d-md-flex flex-column align-items-lg-end">
                        {% include rental_complete_btn.html %}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-8">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <i class="fa fa-bed" aria-hidden="true"></i> 2
                                </th>
                                <td>
                                    <i class="fa fa-bath" aria-hidden="true"></i> 2
                                </td>
                                <td>
                                    <i class="fa fa-car" aria-hidden="true"></i> 1
                                </td>
                                <td>680 - 725 sqft</td>
                                <td>Rs. 34.5Mn - 46.5Mn</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <i class="fa fa-bed" aria-hidden="true"></i> 2
                                </th>
                                <td>
                                    <i class="fa fa-bath" aria-hidden="true"></i> 2
                                </td>
                                <td>
                                    <i class="fa fa-car" aria-hidden="true"></i> 1
                                </td>
                                <td>680 - 725 sqft</td>
                                <td>Rs. 34.5Mn - 46.5Mn</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="btn btn-link mb-2 mb-md-3" href="#">
                    Show More
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>

                <div class="row align-items-end align-items-md-center btn-container">
                    <div class="col img-container text-body d-none d-md-block">

                        <img src="./assets/img/most-apprecated.svg" alt=""/>
                        Rush Lanka Group
                    </div>
                    <div class="col d-md-none">
                        {% include rental_complete_btn.html %}
                    </div>
                    <div class="col col-md-auto text-end">
                        <a href="#" class="btn btn-danger me-lg-2">VIEW MORE</a>
                        <a href="#" class="btn btn-outline-danger d-none d-md-inline-block">GET CALLBACK</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
