<div class="card property-list-item mb-3" data-index="1">
    <div class="row flex-column flex-md-row position-relative">

        <div class="col-12 col-md-4 col-lg-3 img-container pe-md-0">
            <a href="#">
                <img src="assets/img/building.png" class="img-fluid" alt="property"></a>

            <span class="property-love">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
            </span>
            <div class="icons-container">
                <div class="text-body">
                    <img src="./assets/img/camera.svg" alt="camera">
                    <b>6</b>
                </div>
                <div class="text-body">
                    <img src="./assets/img/video-camera.svg" alt="video camera">
                    <b>1</b>
                </div>
                <div class="text-body">
                    <img src="./assets/img/rotation.svg" alt="rotate">
                    <b>3D</b>
                </div>
            </div>
        </div>

        <div class="position-absolute text-end d-md-none">
            <a href="#" class="btn btn-warning text-body-b-1 mb-2">
                8% rental yield
            </a>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
            <div class="card-body">
                <div class="row mb-md-3">
                    <div class="col">
                        <div class="row gx-0">
                            <div class="col"><h5 class="title-content-1">Rush Reliance</h5></div>
                            <div class="col-auto d-md-none">
                                <span class="text-body d-inline-block">
                                    Completion: 2024
                                </span>
                            </div>
                        </div>
                        <div class="location title-light-1 lh-1 mt-1 mb-2">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Mount Lavinia
                        </div>
                        <div class="title-content-2 price-container">
                            Rs. 34.5 Mn
                            <span class="price-label">Upwards</span>
                            <span class="pt-md-2 pt-lg-0 sqft">
                                (Price per sqft Rs. 12000)
                            </span>
                        </div>
                    </div>
                    <div class="col-auto d-none d-md-flex flex-column align-items-lg-end">
                        {% include rental_complete_btn.html %}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-12 col-lg-9 col-xl-8">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <i class="fa fa-bed" aria-hidden="true"></i> 2
                                </th>
                                <td>
                                    <i class="fa fa-bath" aria-hidden="true"></i> 2
                                </td>
                                <td>
                                    <i class="fa fa-car" aria-hidden="true"></i> 1
                                </td>
                                <td>680 - 725 sqft</td>
                                <td>Rs. 34.5Mn - 46.5Mn</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <i class="fa fa-bed" aria-hidden="true"></i> 2
                                </th>
                                <td>
                                    <i class="fa fa-bath" aria-hidden="true"></i> 2
                                </td>
                                <td>
                                    <i class="fa fa-car" aria-hidden="true"></i> 1
                                </td>
                                <td>680 - 725 sqft</td>
                                <td>Rs. 34.5Mn - 46.5Mn</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="btn btn-link mb-2 mb-md-3 mt-2 d-md-inline-block" href="#">
                    Show More
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>

                <div class="row align-items-end align-items-md-center btn-container">
                    <div class="col img-container text-body d-none d-md-block">

                        <img src="./assets/img/rush-logo.png" alt=""/>
                        <a class="btn-link">Rush Lanka Group</a>
                    </div>
<!--                    <div class="col d-md-none">-->
<!--                        <span class="text-body d-inline-block">-->
<!--                            Completion: 2024-->
<!--                         </span>-->
<!--                    </div>-->
                    <div class="col col-md-auto text-end justify-content-between flex-row-reverse flex-md-row d-md-flex">
                        <a href="#" class="btn btn-danger me-md-2">VIEW MORE</a>

                        <a href="#" class="btn btn-outline-danger" data-bs-toggle="modal"
                           data-prperty="1123143"
                           data-bs-target="#callbackModal">
                            CONTACT
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
