.feature_properties_index {

  .filter-form-container {
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);

    @media (max-width: 991.98px) {
      justify-content: space-between;
    }

    @media (max-width: 767.98px) {
      padding: 15px;
    }


    @media (min-width: 992px) and (max-width: 1199.8px) {
      padding: 15px;
    }

    .row {
      padding-left: 0;
      padding-right: 0;
    }

    form {
      flex: 7;

      .dropdown-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .dropdown-menu {
        background: #FFFFFF;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.40);
        border-radius: 3px;
        border: 0;
        left: -12px !important;
        top: 8px !important;
        width: calc(100% + 24px);

        .inner,.show{
          overflow: hidden;
        }

        input {
          font-family: Rubik-Regular;
          font-size: 16px;
          color: #4E5156;
          line-height: 20px;
        }

        .form-check > label {
          font-family: Rubik-Regular;
          font-size: 16px;
          color: #171D1F;
          line-height: 20px;
        }
      }

      .dropdown-menu-expanded{
        min-width: 500px;
      }

      .budget-dropdown {
        .dropdown-menu {
          padding: 15px 45px 15px 25px;

          label {
            font-family: Rubik-Medium;
            font-size: 15px;
            color: #A0A5AD;
            line-height: 20px;
            text-transform: uppercase;
          }

          div.switch-container {
            display: flex;
            justify-content: start;
            align-items: center;
            font-family: Rubik-Regular;
            font-size: 16px;
            color: #171D1F;
            text-align: right;
            line-height: 20px;
            line-height: 1;

            .form-switch {
              margin-left: 5px;
              margin-right: 5px;

              input {
                margin-top: 0 !important;
              }

            }
          }
        }
      }

      .controls {
        border: 1px solid #E0E0E0;
        border-radius: 5px;


        .col {
          align-items: center;
          display: flex;

          @media (min-width: 992px) and (max-width: 1199.8px) {
            //overflow: hidden;
            width: 20%;
            min-width: 139px;
          }

          @media (min-width: 1200px) {
            width: 20%;
          }

          .dropdown {
            max-width: 100%;
            width: 100%;
          }

          select, label, .btn {
            padding-left: 0;
            margin-left: 0;
          }

        }

        > div:not(:last-child) {
          border-right: 1px solid #E0E0E0;
        }
      }

      .form-floating {
        width: 100%;
      }

      label {
        font-family: Rubik-Medium;
        font-size: 13px;
        color: #A0A5AD;
        line-height: 20px;

        @media (min-width: 992px) and (max-width: 1199.8px) {
          font-size: 11px;
        }

      }


      select, .dropdown-toggle, .btn {
        font-family: Rubik-Regular;
        font-size: 15px;
        color: #4E5156;
        line-height: 20px;
        //border: 0;
        &:focus {

        }


        @media (min-width: 992px) and (max-width: 1199.8px) {
          font-size: 12px;
        }
      }

      select, .dropdown-toggle {
        border: none;
      }

      .dropdown {

        label {
          margin-left: 12px;
          display: block;
        }

        .dropdown-toggle {
          padding: 0;
          background-color: #FFFFFF;

          &:focus{
            outline: none !important;
          }

          &:after{
            font-size: 17px;
          }
          @media (min-width: 992px) and (max-width: 1199.8px) {
            padding-right: 5px;
            span {
              overflow: hidden;
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .form-floating {
        label {
          transform: scale(1) translateY(-0.6rem) translateX(0);
          opacity: 1;
          padding-right: 0;
        }

        .form-select {
          padding-top: 29px;
        }

        select {
          background: transparent;
          background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
          background-repeat: no-repeat;
          background-position-x: 100%;
          background-position-y: 77%;
        }

      }

      .col-auto {
        .btn-reset {
          @media (min-width: 992px) and (max-width: 1199.8px) {
            padding: 0;
          }
        }
      }
    }

    .filter-mobile-btn-container {
      background: #E3F4EA;
      border: 1px solid #B0D4BB;
      border-radius: 25px;
      justify-content: center;
      align-items: center;
      padding: 11px 15px;
      width: auto;
      line-height: 1;
      cursor: pointer;

      @media (max-width: 374.98px) {
        width: auto;
      }

      @media (min-width: 576px) {
        padding: 13px 15px;
      }

      @media (min-width: 375px) and (max-width: 991.98px) {
        width: calc(50% - 7px);
      }

      i {
        margin-top: 0 !important;
        justify-self: start;
        margin-right: 5px;
      }

      span {
        font-family: Rubik-Regular;
        font-size: 14px;
        color: #171D1F;
        text-align: center;
        line-height: 1;
      }
    }

    .map-btn-container {
      width: auto;
      min-width: fit-content;
      padding: 0;

      @media (max-width: 991.98px) {
        width: calc(50% - 7px);
      }
      //@media (min-width: 576px) and (max-width: 991.98px) {
      //  width: calc(50% - 7px);
      //}
      @media (min-width: 992px) {
        flex: 1;
      }
      @media (min-width: 1200px) {
        flex-grow: 2;
      }

      .form-switch {
        background: #E3F4EA;
        border: 1px solid #B0D4BB;
        padding: 9px 15px;
        //width: 100%;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 991.98px) {
          width: 100%;
        }


        label {
          font-family: Rubik-Regular;
          font-size: 15px;
          color: #171D1F;
          line-height: 1;

          @media (max-width: 575.98px) {
            font-size: 14px;
          }

          @media (min-width: 992px) and (max-width: 1199.8px) {
            font-size: 12px;
          }

        }

        .form-check-input {
          float: right;
          margin-left: 10px;
          margin-top: 0;
        }
      }
    }

    .more-filter-modal {
      .modal-dialog {
        @media (min-width: 768px) {
          max-width: 800px;
        }

        .modal-content {

          .modal-header {
            padding-left: 25px;
            padding-top: 25px;

            .btn-close {
              font-size: 9px;
              color: #000;
              opacity: 1;

            }
          }

          .modal-body {
            padding-left: 25px;
            padding-right: 45px;
            padding-top: 0;

            form {
              .form-label {
                font-family: Rubik-Medium;
                font-size: 15px;
                color: #A0A5AD;
                line-height: 20px;
              }
            }
          }

          .modal-footer {
            background: #F2F2F2;
            border-radius: 0 4px 0 4px;
            border: 0;

            p {
              font-family: Rubik-Regular;
              font-size: 15px;
              color: #4E5156;
              line-height: 1;

              b {
                font-family: Rubik-Medium;
              }
            }
          }
        }

      }


      .chip-check {
        display: flex;
        flex-wrap: wrap;

        .form-check {
          padding-left: 0;
          margin-right: 10px;
          margin-bottom: 10px;

          label{
            cursor: pointer;
          }
        }

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
          font-family: Rubik-Regular;
          font-size: 15px;
          color: #4E5156;
          text-align: center;
          background: #FFFFFF;
          border: 1px solid #202330;
          border-radius: 25px;
          padding: 9px 15px;
          line-height: 1;
        }


        input[type="checkbox"]:checked + label {
          -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
          background-color: #018E37;
          color: white;
          border: 1px solid #018E37;
          border-radius: 18px;
        }

      }

    }
  }

  .mobile-search-modal{
    .modal-header{
      button{
        font-size: 12px;
        opacity: 1;
        color: #000;
      }
    }
    .modal-body{
      overflow-y: scroll;

      .chip-check {
        display: flex;
        flex-wrap: wrap;

        .form-check {
          padding-left: 0;
          margin-right: 10px;
          margin-bottom: 10px;
        }

        label{
          cursor: pointer;
        }

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
          font-family: Rubik-Regular;
          font-size: 15px;
          color: #4E5156;
          text-align: center;
          background: #FFFFFF;
          border: 1px solid #202330;
          border-radius: 25px;
          padding: 9px 15px;
          line-height: 1;
        }


        input[type="checkbox"]:checked + label {
          -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
          background-color: #018E37;
          color: white;
          border: 1px solid #018E37;
          border-radius: 18px;
        }



      }

    }
  }
}
