.feature_properties_index {

  .filter-form-container {
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);

    .row {
      padding-left: 0;
      padding-right: 0;
    }

    form {
      flex: 7;

      .dropdown-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .dropdown-menu {
        background: #FFFFFF;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.40);
        border-radius: 3px;
        border: 0;
        left: -12px !important;
        top: 8px !important;
        min-width: 500px;

        input{
          font-family: Rubik-Regular;
          font-size: 16px;
          color: #4E5156;
          line-height: 20px;
        }
        .form-check>label{
          font-family: Rubik-Regular;
          font-size: 16px;
          color: #171D1F;
          line-height: 20px;
        }
      }

      .budget-dropdown {
        .dropdown-menu {
          padding: 15px 45px 15px 25px;

          label {
            font-family: Rubik-Medium;
            font-size: 15px;
            color: #A0A5AD;
            line-height: 20px;
            text-transform: uppercase;
          }

          div.switch-container {
            display: flex;
            justify-content: start;
            align-items: center;
            font-family: Rubik-Regular;
            font-size: 16px;
            color: #171D1F;
            text-align: right;
            line-height: 20px;
            line-height: 1;

            .form-switch {
              margin-left: 5px;
              margin-right: 5px;

              input{
                margin-top: 0!important;
              }

            }
          }
        }
      }


      .controls {
        border: 1px solid #E0E0E0;
        border-radius: 5px;

        > div:not(:last-child) {
          border-right: 1px solid #E0E0E0;
        }
      }

      .form-floating {
        width: 100%;
      }

      label {
        font-family: Rubik-Medium;
        font-size: 13px;
        color: #A0A5AD;
        line-height: 20px;
      }


      select, .dropdown-toggle, .btn {
        font-family: Rubik-Regular;
        font-size: 15px;
        color: #4E5156;
        line-height: 20px;
        //border: 0;
        &:focus {

        }
      }

      select, .dropdown-toggle {
        border: none;
      }

      .dropdown {
        label {
          margin-left: 12px;
          display: block;
        }

        .dropdown-toggle {
          padding: 0 12px;
        }
      }

      .form-floating {
        label {
          transform: scale(1) translateY(-0.5rem) translateX(0.15rem);
          opacity: 1;
        }

        .form-select {
          padding-top: 2rem;
        }

      }
    }

    .map-btn-container {
      width: auto;
      flex: 1;
      min-width: fit-content;
      padding: 0;

      .form-switch {
        background: #E3F4EA;
        border: 1px solid #B0D4BB;
        padding: 9px 15px;
        width: fit-content;
        border-radius: 50px;

        label {
          font-family: Rubik-Regular;
          font-size: 15px;
          color: #171D1F;
          line-height: 20px;
        }

        .form-check-input {
          float: right;
          margin-left: 10px;
          margin-top: 0;
        }
      }
    }
  }
}
