
@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Regular'), url('../fonts/Raleway-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url('../fonts/Raleway-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Italic'), url('../fonts/Raleway-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin'), url('../fonts/Raleway[wght].woff') format('woff');
}


@font-face {
    font-family: 'Raleway Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin Italic'), url('../fonts/Raleway-Italic[wght].woff') format('woff');
}


@font-face {
    font-family: 'Raleway Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin'), url('../fonts/Raleway-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin Italic'), url('../fonts/Raleway-ThinItalic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraLight'), url('../fonts/Raleway-ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Raleway ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraLight Italic'), url('../fonts/Raleway-ExtraLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light'), url('../fonts/Raleway-Light.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light Italic'), url('../fonts/Raleway-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium'), url('../fonts/Raleway-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium Italic'), url('../fonts/Raleway-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold'), url('../fonts/Raleway-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Raleway SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold Italic'), url('../fonts/Raleway-SemiBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold'), url('../fonts/Raleway-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold Italic'), url('../fonts/Raleway-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraBold'), url('../fonts/Raleway-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Raleway ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraBold Italic'), url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Black';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Black'), url('../fonts/Raleway-Black.woff') format('woff');
}


@font-face {
    font-family: 'Raleway Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Black Italic'), url('../fonts/Raleway-BlackItalic.woff') format('woff');
}



@font-face {
    font-family: 'Raleway BoldItalic';
    src: url('../fonts/Raleway Bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway Bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
