.feature_properties_index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F4F4F4;

}

.index-video-banner {
  height: 400px;
  object-fit: cover;
  z-index: 9999;
}

.filtered-info {
  padding: 25px 25px;

  @media (max-width: 767.98px) {
    padding: 15px;
  }

  > div {
    padding: 0;
  }

  h2 {
    margin-bottom: 0;
  }


  .sort-menu-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    #sortSwiper {
      padding: 0 15px;

      .swiper-slide {
        width: auto;
        padding: 12px;
      }

      .swiper-btn {
        background-color: #f4f4f4;
      }

      .swiper-btn:after {
        font-size: 14px;
      }

      .swiper-button-prev {
        left: 0px;
      }

      .swiper-button-next {
        right: -10px;
      }

      .swiper-button-disabled {
        display: none !important;
      }
    }

    div {
      flex: 1;
      display: flex;


      //@media (max-width: 767.98px) {
      //  overflow-x: auto
      //}

      //a {
      //  @media (min-width: 320px) and (max-width: 399.98px) {
      //    min-width: calc(((100vw-105px)/5)*2);
      //    text-align: center;
      //  }
      //  @media (min-width: 400px) and (max-width: 475.98px) {
      //    min-width: calc(((100vw-105px)/10 * 3.5);
      //    text-align: center;
      //  }
      //  @media (min-width: 476px) and (max-width: 575.98px) {
      //    min-width: calc(((100vw-105px)/10)*2.8);
      //    text-align: center;
      //  }
      //  @media (min-width: 576px) and (max-width: 767.98px) {
      //    min-width: calc(((100vw-105px)/10)*2);
      //    text-align: center;
      //  }
      //}
    }

    div::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    a, span {
      font-family: Rubik-Regular;
      font-size: 15px;
      color: #333333;
      line-height: 20px;
      //min-width: fit-content;

      @media (max-width: 767.98px) {
        font-size: 14px;
      }

      @media (min-width: 992px) and (max-width: 1199.8px) {
        font-size: 13px;
      }
    }

    a.active {
      color: #018E37;
    }


    span {
      color: #84888F;
      display: inline-block;
      text-align: right;
    }
  }
}

.sort-menu-mobile {
  .swiper-btn {
    background-color: #FFFFFF !important;
  }
}

.mobile-filter {
  display: none;
}

.mobile-listing-container {
  display: none;
}

.map-enabled {

  .mapView {
    position: fixed;
    right: 0;
    width: 40%;
    //height: calc(100vh - 88px);
    top: 0;
    height: calc(100vh);
    background-color: white;
    z-index: 0;
    bottom: 0;


    @media (max-width: 991.98px) {
      position: relative;
      width: 100%;
      height: calc(100vh - 74px);
      margin-bottom: 20px;
      max-height: 400px;


    }


    .map-box {
      position: relative;
      width: 100%;
      height: 100%;

      #map {
        height: 100%;

        .gm-style .gm-style-iw-c {
          padding: 10px;
          max-width: 180px !important;
          min-width: 178px !important;
          min-height: 191px !important;
        }

        .gm-ui-hover-effect {
          //display: none !important;
          top: -5px !important;
          right: -5px !important;
        }

      }
    }

  }

  > .container {
    @media (min-width: 992px) {
      width: 60%;
      float: left;
    }
  }

  @media (max-width: 575.98px) {
    .mobile-listing-container{
      .mobileListingSwiper{
        .property-list-item{
          .card-body{
            .table{
              display: none;
            }
            .btn-link{
              display: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {

    .mobile-listing-container {
      display: block;
    }

    .filter-form-container {
      background: #f4433600 !important;
      box-shadow: none !important;
      position: fixed;
      top: 55px;
    }

    .filtered-info {
      .sort-menu-container {
        display: none;
      }
    }

    .virtual-banner, .preferred-project, .property-type-swiper-container, .city-projects, .propertyTool {
      display: none;
    }

    .listing-container {
      display: none;
      //display: flex;
      //overflow: hidden;
      //overflow-x: auto;
      //flex-wrap: nowrap;
      //flex-direction: row;
      //background-color: #FFFFFF;
      //
      //.property-list-item{
      //  flex-shrink: 0;
      //  width: 100%;
      //  max-width: 100%;
      //  margin-right: 15px;
      //}
    }

    //.listing-container::-webkit-scrollbar {
    //  width: 1px;
    //}
    //
    //.listing-container::-webkit-scrollbar-track {
    //  border-radius: 10px;
    //  background-color: #F0F0F0;
    //  margin: 15px;
    //}

    //.listing-container::-webkit-scrollbar:horizontal{
    //  height: 7px;
    //}
    //.listing-container::-webkit-scrollbar-thumb:horizontal{
    //  background: #F77A27;
    //  border-radius: 10px;
    //}

    .mobile-filter {
      display: flex;
      background-color: #FFFFFF;

      .sort-menu-container {
        display: flex;
      }
    }
  }

  @media(min-width: 768px) {
    .filtered-info {
      flex-direction: column;
      align-items: flex-start !important;
    }
  }
}

.preferred-project {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 16px;

  h1 {

    @media (max-width: 575.98px) {
      text-align: center;
      line-height: 1.4;
    }
  }

  p.title-light-1 {
    color: #71757B !important;
    margin-bottom: 30px;
    line-height: 1.3;

    @media (max-width: 575.98px) {
      text-align: center;
    }
  }

  .content-row {
    div.col-auto {
      margin-left: 25px;
      margin-right: 25px;

      @media (max-width: 767.98px) {
        margin-bottom: 25px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        flex: 1;
        img {
          margin-top: 0 !important;
        }
      }

      img {
        width: 60px;
        margin: 0 auto 15px;
      }

      h3 {
        font-family: Rubik-Regular;
        font-size: 22px;
        color: #202330;
        text-align: center;
        line-height: 1;
        margin-bottom: 12px;
      }

      p {
        text-align: center;
        line-height: 20px;
        margin-bottom: 3px;
      }
    }
  }
}

.map-enabled {
  .preferred-project .content-row {

    @media (min-width: 1200px) {
    }

    div.col-auto {
      @media (min-width: 992px) and (max-width: 1199.98px) {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
      }
      @media (min-width: 1200px) {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
      }
      @media (min-width: 2000px) {
        width: 25%;
      }
    }
  }
}

.priceRangeSwiperContainer {
  background: #E4E8F6;
  border-radius: 4px;

  .nav-pills {
    .nav-link {
      border: 1px solid #0d6efd
    }
  }

  .price-range-swiper-container {
    position: relative;

    .priceRangeSwiper {
      a.swiper-slide {
        background: #FFFFFF;
        border: 1px solid #CBD1E9;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 15px;
        width: 250px;
        height: 150px;
        text-decoration: none !important;


        @media (max-width: 767.98px) {
          align-items: center;
          width: 40%;
        }

        @media (max-width: 575.98px) {
          width: 60%;
        }

        @media (min-width: 1200px) {
          padding: 15px 25px;
        }

        span.range {
          font-family: Rubik-Medium;
          font-size: 22px;
          color: #6276C6;
          line-height: 50px;
          @media (max-width: 767.98px) {
            font-size: 17px;
          }
        }

        p.price {
          font-family: Rubik-Regular;
          font-size: 40px;
          color: #6276C6;
          line-height: 30px;

          @media (max-width: 767.98px) {
            font-size: 25px;
          }
        }

        span.noOfProjects {
          font-family: Rubik-Regular;
          font-size: 18px;
          color: #8896CF;
          line-height: 30px;

          @media (max-width: 767.98px) {
            font-size: 16px;
          }
        }
      }
    }

    .swiper-button-next, .swiper-button-prev {
      @extend .custom-swiper-nav;
    }

    .swiper-button-next {
      right: -15px;
    }

    .swiper-button-prev {
      left: -15px;
    }

    .swiper-button-disabled {
      display: none;
    }

  }

  .location-swiper-container {
    span.range, p.price, span.noOfProjects {
      color: #f54505 !important;
    }
  }

  .type-swiper-container {
    span.range, p.price, span.noOfProjects {
      color: #2c9431 !important;
    }
  }

}

.property-type-swiper-container {
  background: #F8E8E0;
  border-radius: 4px;
  margin-bottom: 16px;
  padding-top: 35px;
  padding-bottom: 35px;

  h1 {
    margin-bottom: 20px;
  }

  .property-type-swiper-box {
    position: relative;

    .property-type-swiper {
      .swiper-slide {
        width: 270px;
        height: 300px;
        border-radius: 5px;
        overflow: hidden;

        @media (max-width: 575.98px) {
          width: 90%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }

        .content {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 15px;
          background-image: linear-gradient(180deg, rgba(32, 35, 48, 0.00) 0%, rgba(32, 35, 48, 0.95) 100%);

          p {
            @extend .title-content-1;
            line-height: 1.1;
            color: #FFFFFF !important;
            margin-bottom: 2px;

          }

          span {
            @extend .title-light-1;
            color: #FFFFFF !important;
            line-height: 1;
          }
        }
      }
    }

    .property-type-swiper-button-next, .property-type-swiper-button-prev {
      @extend .custom-swiper-nav;
    }

    .swiper-button-next {
      right: -15px;
    }

    .swiper-button-prev {
      left: -15px;
    }

    .swiper-button-disabled {
      display: none;
    }
  }
}

.city-projects {
  background: #E1EDDB;
  border-radius: 4px;
  margin-bottom: 16px;

  padding-top: 35px;
  padding-bottom: 35px;

  h1 {
    line-height: 1;
  }

  p.title-light-1 {
    color: #71757B;
    margin-bottom: 20px;
  }

  .city-swiper-box {
    position: relative;

    .city-project-swiper {
      .swiper-slide {
        background: #FFFFFF;
        border: 1px solid #CBDAB6;
        border-radius: 4px;
        width: 250px;
        height: 160px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        @media (max-width: 767.98px) {
          width: 45%;
        }
        @media (max-width: 575.98px) {
          width: 35%;
          height: 125px;
        }

        @media (min-width: 1200px) {
          padding: 15px 25px;
        }

        p.city {
          @extend .title-content-1;
          color: #80995E !important;
          line-height: 1 !important;
          margin-bottom: 10px;
        }


        span.noOfProjects {
          @extend .title-light-1;
          color: #80995E !important;
          line-height: 1;
        }

      }
    }

    .city-swiper-button-next, .city-swiper-button-prev {
      @extend .custom-swiper-nav;
    }


    .swiper-button-next {
      right: -15px;
    }

    .swiper-button-prev {
      left: -15px;
    }

    .swiper-button-disabled {
      display: none;
    }
  }
}

.tour-project {
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(32, 205, 158, 0.10) 0%, rgba(25, 162, 167, 0.82) 52%, #01A595 100%), url("../../assets/img/tour-bg.png");
  margin-bottom: 16px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;

  .tour-swiper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;


      @media (max-width: 767.98px) {
        align-items: center;
        text-align: center !important;
      }

      h1 {
        @extend .title-content-1;
        color: #FFFFFF !important;
        line-height: 1.3;
        margin-bottom: 15px;
      }

      p {
        @extend .title-light-1;
        color: #FFFFFF !important;
        line-height: 1.3 !important;
        margin-bottom: 23px;
      }
    }
  }

  .swiper-pagination-bullet {
    border: 1px solid #FFFFFF;
    width: 11px;
    height: 11px;
    opacity: 1;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
}

.propertyTool {
  background: #DDF4F3;
  border-radius: 4px;
  margin-bottom: 16px;
  padding-top: 35px;
  padding-bottom: 35px;

  @media (max-width: 767.98px) {
    text-align: center;
  }

  h1 {
    line-height: 1;
  }

  p.title-light-1 {
    color: #71757B;
    line-height: 1.4;
  }

  .tool-swiper-box {
    position: relative;

    .tool-swiper {
      .swiper-slide {
        background: #FFFFFF;
        border: 1px solid #A2DBD9;
        border-radius: 4px;
        padding: 25px;
        width: 250px;
        //height: 260px;

        @media (max-width: 767.98px) {
          text-align: left;
          width: 70%;
        }
        @media (max-width: 575.98px) {
          text-align: left;
          width: 85%;
        }

        img {
          width: 45px;
          height: auto;
          margin-bottom: 15px;

          @media (max-width: 767.98px) {
            width: 40px;
            height: 40px;
          }

        }

        h4 {
          font-family: Rubik-Medium;
          font-size: 22px;
          color: #018E37;


          @media (max-width: 767.98px) {
            font-size: 18px;
          }
        }

        p {
          @extend .text-body;
        }
      }


    }

    .tool-swiper-button-next, .tool-swiper-button-prev {
      @extend .custom-swiper-nav;
    }

    .swiper-button-next {
      right: -15px;
    }

    .swiper-button-prev {
      left: -15px;
    }

    .swiper-button-disabled {
      display: none;
    }
  }
}

#callbackModal {
  z-index: 99999;

  @media (max-width: 767.98px) {

    height: auto !important;
    bottom: 0 !important;
    top: auto;

    .modal-dialog {
      transition: transform .2s ease-out;
      transform: translateY(100%);
      width: 100%;
      max-width: 100% !important;
    }
    .modal-content {
      border-radius: 13px 13px 0 0;
    }
  }

  .modal-header {
    font-size: 11px;
    color: #000;
  }

  .content {
    padding: 0 40px 25px;

    p {
      font-family: Rubik-Regular;
      font-size: 16px;
      color: #71757B;
      line-height: 25px;
    }
  }

  .modal-body {
    .country-list {
      white-space: normal;
    }
  }

  .form-container {
    background-color: #202330;
    padding: 25px 40px 40px;
  }
}

#callbackModal[class~="show"] {
  @media (max-width: 767.98px) {
    display: flex !important;
    align-items: flex-end;
    justify-content: center;

    .modal-dialog {
      transform: none !important;
      margin: 0;
    }
  }

}


#phoneNoModal {
  z-index: 10000;
  height: auto !important;
  bottom: 0 !important;
  top: auto;

  .modal-header {
    .btn-close {
      font-size: 9px;
      opacity: 1;
    }
  }

  .modal-body {
    .desktop-content {
      h1 {
        margin-bottom: 36px;
      }

      img {
        max-width: 50%;
      }

      p {
        font-family: Rubik-Regular;
        font-size: 22px;
        color: #202330;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
      }

      a.btn {
        font-family: Rubik-Medium;
        font-size: 12px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        min-width: 161px;

        i {
          font-size: 20px;
          margin-right: 7px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .modal-dialog {
      transition: transform .2s ease-out;
      transform: translateY(100%);
      width: 100%;
      max-width: 100% !important;
    }

    .modal-content {
      background-color: transparent;
      border: 0;
    }
    .modal-header {
      .btn-close {
        background-color: #FFFFFF;
        border-radius: 25px;
        font-size: 6px;
      }
    }
    .modal-body {
      background-color: #FFFFFF;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
      border-radius: 13px 13px 0 0;
      padding: 16px 10px;

      .desktop-content {
        display: none;
      }
    }
  }

  .mobile-content {
    h1 {
      text-align: left;
      padding: 10px 5px 5px 5px;
    }

    .table > :not(caption) > * > * {
      padding: 5px;
    }

    .table {

      td, th {
        vertical-align: middle;
        //text-align: left;
      }

      tr:first-child {
        border-top-width: 1px;
      }

      td {
        font-family: Rubik-Regular;
        font-size: 15px;
        color: #A0A4AA;
      }

      th {
        font-family: Rubik-Regular;
        font-size: 15px;
        color: #202330;
      }
    }
  }

}

#phoneNoModal[class~="show"] {
  @media (max-width: 767.98px) {
    display: flex !important;
    align-items: flex-end;
    justify-content: center;

    .modal-dialog {
      transform: none !important;
      margin: 0;
    }
  }

}

.intl-tel-input {
  width: 100% !important;
  z-index: 99999 !important;
}


