.feature_properties_index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F4F4F4;

}

.filtered-info {
  padding: 20px 25px;

  h2 {
    margin-bottom: 0;
  }

  .sort-menu-container {
    display: flex;
    align-items: start;

    a {
      font-family: Rubik-Regular;
      font-size: 15px;
      color: #333333;
      line-height: 20px;
      padding: 12px;

      &:first-child {
        color: #84888F;
        width: 47px;
        display: inline-block;
        text-align: right;
      }
    }

    a.active {
      color: #018E37;
    }
  }
}

.preferred-project {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 16px;

  h1 {
    line-height: 1;

  }

  p.title-light-1 {
    color: #71757B !important;
    margin-bottom: 25px;
  }

  .content-row {
    div.col-auto {
      margin-left: 25px;
      margin-right: 25px;

      img {
        width: 60px;
        margin: auto;
        margin-bottom: 15px;
      }

      h3 {
        font-family: Rubik-Regular;
        font-size: 22px;
        color: #202330;
        text-align: center;
        line-height: 1;
        margin-bottom: 12px;
      }

      p {
        text-align: center;
        line-height: 20px;
        margin-bottom: 3px;
      }
    }
  }
}

.priceRangeSwiperContainer {
  background: #E4E8F6;
  border-radius: 4px;

  .priceRangeSwiper {
    a.swiper-slide {
      background: #FFFFFF;
      border: 1px solid #CBD1E9;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      width: 250px;
      height: 150px;
      text-decoration: none !important;

      span.range {
        font-family: Rubik-Medium;
        font-size: 22px;
        color: #6276C6;
        line-height: 50px;
      }

      p.price {
        font-family: Rubik-Regular;
        font-size: 40px;
        color: #6276C6;
        line-height: 30px;
      }

      span.noOfProjects {
        font-family: Rubik-Regular;
        font-size: 18px;
        color: #8896CF;
        line-height: 30px;
      }
    }

    .price-range-swiper-button-next, .price-range-swiper-button-prev {
      @extend .custom-swiper-nav;
    }

    .swiper-button-disabled {
      display: none;
    }
  }
}

.property-type-swiper-container {
  background: #F8E8E0;
  border-radius: 4px;
  margin-bottom: 16px;

  .property-type-swiper {
    .swiper-slide {
      width: 270px;
      height: 300px;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px;
        background-image: linear-gradient(180deg, rgba(32, 35, 48, 0.00) 0%, rgba(32, 35, 48, 0.95) 100%);

        p {
          @extend .title-content-1;
          line-height: 1.1;
          color: #FFFFFF !important;
          margin-bottom: 2px;

        }

        span {
          @extend .title-light-1;
          color: #FFFFFF !important;
          line-height: 1;
        }
      }
    }
  }

  .property-type-swiper-button-next, .property-type-swiper-button-prev {
    @extend .custom-swiper-nav;
  }

  .swiper-button-disabled {
    display: none;
  }
}

.city-projects {
  background: #E1EDDB;
  border-radius: 4px;
  margin-bottom: 16px;

  h1 {
    line-height: 1;
  }

  p.title-light-1 {
    color: #71757B;
  }

  .city-project-swiper {
    .swiper-slide {
      background: #FFFFFF;
      border: 1px solid #CBDAB6;
      border-radius: 4px;
      width: 250px;
      height: 160px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p.city {
        @extend .title-content-1;
        color: #80995E !important;
        line-height: 1 !important;
        margin-bottom: 5px;
      }


      span.noOfProjects {
        @extend .title-light-1;
        color: #80995E !important;
        line-height: 1;
      }

    }

    .city-swiper-button-next, .city-swiper-button-prev {
      @extend .custom-swiper-nav;
    }

    .swiper-button-disabled {
      display: none;
    }
  }

}


.tour-project {
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(32, 205, 158, 0.10) 0%, rgba(25, 162, 167, 0.82) 52%, #01A595 100%), url("../../assets/img/tour-bg.png");
  margin-bottom: 16px;
  position: relative;

  .tour-swiper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      h1 {
        @extend .title-content-1;
        color: #FFFFFF !important;
        line-height: 1;
        margin-bottom: 15px;
      }

      p {
        @extend .title-light-1;
        color: #FFFFFF !important;
        line-height: 1 !important;
        margin-bottom: 20px;
      }
    }
  }

  .swiper-pagination-bullet{
    border: 1px solid #FFFFFF;
    width: 11px;
    height: 11px;
    opacity: 1;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
}

.propertyTool{
  background: #DDF4F3;
  border-radius: 4px;
  margin-bottom: 16px;

  h1 {
    line-height: 1;
  }

  p.title-light-1 {
    color: #71757B;
  }

  .tool-swiper{
    .swiper-slide{
      background: #FFFFFF;
      border: 1px solid #A2DBD9;
      border-radius: 4px;
      padding: 25px;
      width: 250px;
      //height: 260px;

      img{
        width: 45px;
        height: auto;
        margin-bottom: 15px;
      }

      h4{
        font-family: Rubik-Medium;
        font-size: 22px;
        color: #018E37;
      }
      p{
        @extend .text-body;
      }
    }


    .tool-swiper-button-next, .tool-swiper-button-prev {
      @extend .custom-swiper-nav;
    }

    .swiper-button-disabled {
      display: none;
    }

  }

}
