.title-light {
  font-family: Rubik-Light;
  font-size: 35px;
  color: #202330;
  letter-spacing: 0;
}

.title-light-1 {
  font-family: Rubik-Regular;
  font-size: 18px;
  color: #84888F;
  line-height: 30px;
}

.title-content-1 {
  font-family: Rubik-Medium;
  font-size: 25px;
  color: #202330;
  letter-spacing: -0.46px;
}

.title-content-2 {
  font-family: Rubik-Medium;
  font-size: 21px;
  line-height: 20px;
}

.text-body {
  font-family: Rubik-Regular !important;
  font-size: 15px !important;
  color: #71757B !important;
  line-height: 20px !important;
}

.text-body-b-1 {
  font-family: Rubik-Medium;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
}


.feature_properties_index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F4F4F4;

  .filter-form-container {
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);

    .row {
      padding-left: 0;
      padding-right: 0;
    }

    form {
      flex: 7;

      .controls {
        border: 1px solid #E0E0E0;
        border-radius: 5px;

        > div:not(:last-child) {
          border-right: 1px solid #E0E0E0;
        }
      }

      .form-floating {
        width: 100%;
      }

      label {
        font-family: Rubik-Medium;
        font-size: 13px;
        color: #A0A5AD;
        line-height: 20px;
      }


      select, .dropdown-toggle, .btn {
        font-family: Rubik-Regular;
        font-size: 15px;
        color: #4E5156;
        line-height: 20px;
        //border: 0;
        &:focus {

        }
      }

      select, .dropdown-toggle {
        border: none;
      }

      .dropdown {
        label {
          margin-left: 12px;
          display: block;
        }

        .dropdown-toggle {
          padding: 0 12px;
        }
      }

      .form-floating {
        label {
          transform: scale(1) translateY(-0.5rem) translateX(0.15rem);
          opacity: 1;
        }

        .form-select {
          padding-top: 2rem;
        }

      }
    }

    .map-btn-container {
      width: auto;
      flex: 1;
      min-width: fit-content;
      padding: 0;

      .form-switch {
        background: #E3F4EA;
        border: 1px solid #B0D4BB;
        padding: 9px 15px;
        width: fit-content;
        border-radius: 50px;

        label {
          font-family: Rubik-Regular;
          font-size: 15px;
          color: #171D1F;
          line-height: 20px;
        }

        .form-check-input {
          float: right;
          margin-left: 10px;
          margin-top: 0;
        }
      }
    }
  }
}

.filtered-info {
  padding: 20px 25px;

  h2 {
    margin-bottom: 0;
  }

  .sort-menu-container {
    display: flex;
    align-items: start;

    a {
      font-family: Rubik-Regular;
      font-size: 15px;
      color: #333333;
      line-height: 20px;
      padding: 12px;

      &:first-child {
        color: #84888F;
        width: 47px;
        display: inline-block;
        text-align: right;
      }
    }

    a.active {
      color: #018E37;
    }
  }
}

.preferred-project {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 12px;

  h1 {
    line-height: 1;

  }

  p.title-light-1 {
    color: #71757B !important;
    margin-bottom: 25px;
  }

  .content-row {
    div.col-auto {
      margin-left: 25px;
      margin-right: 25px;

      img {
        width: 60px;
        margin: auto;
        margin-bottom: 15px;
      }

      h3 {
        font-family: Rubik-Regular;
        font-size: 22px;
        color: #202330;
        text-align: center;
        line-height: 1;
        margin-bottom: 12px;
      }

      p {
        text-align: center;
        line-height: 20px;
        margin-bottom: 3px;
      }
    }
  }
}
