
.justify-self-end {
  justify-self: self-end !important;
}

.btn, select {
  &:focus {
    box-shadow: none !important;
  }
}

.form-check-input:focus {
  box-shadow: none;
}

.form-switch .form-check-input:focus:not(:checked) {
  border-color: #bfbfbf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
}

.form-check-input:checked {
  background-color: #029432;
  border-color: #029432;
}

.btn-link {
  font-family: Rubik-Regular;
  font-size: 14px;
  color: #018E37;
  line-height: 20px;
  background-color: white;
}

.btn-light {
  font-family: Rubik-Medium;
  font-size: 15px;
  color: #018E37;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  line-height: 1;
}

a {
  text-decoration: none !important;
}

.btn-warning {
  background: #F8990F !important;
  border-radius: 3px !important;
  border: 0 !important;
}

.btn-danger {
  color: #FFFFFF !important;
  background: #FF4501 !important;
  border-radius: 3px !important;
  font-family: Rubik-Medium !important;
  font-size: 14px !important;
  text-align: center !important;
  border: 1px solid #FF4501;
}

.btn-outline-danger {
  font-family: Rubik-Medium;
  font-size: 14px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #FF4501;
  border-radius: 3px;
  color: #FF4501;
}

.btn-custom-primary, btn-custom-primary:hover, btn-custom-primary:focus {
  background: #018E37;
  border-radius: 4px;
  font-family: Rubik-Medium;
  font-size: 14px;
  color: #FFFFFF !important;
  text-align: center;
  //padding: 6px 25px;
  display: inline-block;
  vertical-align: middle;
}

.btn-reset {
  i {
    color: #029432;
    margin-right: 5px;
  }

  color: #171D1F !important;
}

@mixin switch($res: 'sm') {
  $index: 1rem;
  $mainVal: 1rem;

  @if $res == 'md' {
    $index: 2rem;
    $mainVal: 1.5rem;
  } @else if $res == 'lg' {
    $index: 3rem;
    $mainVal: 2rem;
  } @else if $res == 'xl' {
    $index: 4rem;
    $mainVal: 2.5rem;
  }

  //margin-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */

  .form-check-input {
    height: $mainVal;
    width: calc(#{$index} + 0.75rem);
    border-radius: $mainVal * 2;

    @media (max-width: 575.98px) {
      height: 20px;
      width: 38px;
    }
  }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
  @include switch();
}

.form-switch.form-switch-md {
  @include switch('md');
}

.form-switch.form-switch-lg {
  @include switch('lg');
}

.form-switch.form-switch-xl {
  @include switch('xl');
}

.title-light {
  font-family: Rubik-Light;
  font-size: 35px;
  color: #202330;
  letter-spacing: 0;

  @media (max-width: 575.98px) {
    font-size: 18px;
  }
  @media (max-width: 767.98px) {
    font-size: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.8px) {
    font-size: 30px;
  }
}

.title-light-1 {
  font-family: Rubik-Regular;
  font-size: 18px;
  color: #84888F;
  line-height: 30px;

  @media (max-width: 575.98px) {
    font-size: 14px;
  }
  @media (max-width: 767.98px) {
    font-size: 15px;
  }
}

.title-content-1 {
  font-family: Rubik-Medium;
  font-size: 25px;
  color: #202330;
  letter-spacing: -0.46px;

  @media (max-width: 767.98px) {
    font-size: 17px;
  }
}

.title-content-2 {
  font-family: Rubik-Medium;
  font-size: 21px;
  line-height: 20px;


  @media (max-width: 767.98px) {
    font-size: 16px;
  }
}

.text-body {
  font-family: Rubik-Regular !important;
  font-size: 15px !important;
  color: #71757B !important;
  line-height: 20px !important;
}

.text-body-b-1 {
  font-family: Rubik-Medium;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;

  @media (max-width: 575.98px) {
    font-size: 14px;
  }
}

.custom-swiper-nav {
  border: 1px solid #F77A27;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: -17.5px !important;

  &:after {
    color: #F77A27;
    font-size: 13px;

  }
}

.slider-range-container {
  padding-top: 50px;

  .slider-range {
    background: #E8E8E8;
    border-radius: 5px;
    border: 0 !important;
    height: 9px;

    .ui-slider-range {
      background: #009831;
      border-radius: 5px;
      border: 0;
      height: 9px;
    }

    .ui-slider-handle {
      background: #009833;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
      border-radius: 50%;
      border: 0;
      top: -6px;

      span {
        position: absolute;
        top: -30px;
        color: #000;
      }
    }

    span.ui-slider-handle:first-child > span {
      left: 5px;
      background-color: #0a58ca;
    }

    span.ui-slider-handle:last-child > span {
      left: -10px;
    }

  }

  .sliderLabels {
    position: relative;
    height: 35px;
    margin-top: 5px;

    .slider-label {
      position: absolute;
      width: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-style: normal;
        font-weight: 100;
        font-size: 12px;
      }
    }
  }
}




