.modal-backdrop {
  z-index: 999;
}

.border-md-none {
  @media (min-width: 768px) {
    border: 0 !important;
  }
}

.justify-self-end {
  justify-self: self-end !important;
}

.btn, select {
  &:focus {
    box-shadow: none !important;
  }
}

.form-check-input:focus {
  box-shadow: none;
}

.obj-fit-cover {
  object-fit: cover !important;
}

.form-switch .form-check-input:focus:not(:checked) {
  border-color: #bfbfbf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
}

.form-check-input:checked[type=radio] {
  background-color: #009833;
  background-image: url('data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="lpw-sale-properties-detailed-page-1.1(expanded)" transform="translate(-1034.000000, -5052.000000)"><g id="Group-6" transform="translate(1034.000000, 5052.000000)"><rect id="Rectangle" stroke="%23019A34" fill="%23FFFFFF" x="0.5" y="0.5" width="19" height="19" rx="9.5"></rect><circle id="Oval" fill="%23009833" cx="10" cy="10" r="5"></circle></g></g></g></svg>');

}

.form-check-input:checked {
  background-color: #029432;
  border-color: #029432;
}

.btn-link-custom {
  font-family: Raleway Regular;
  font-size: 14px;
  color: #018E37;
  line-height: 20px;
  //background-color: white;

  &:hover{
    color: #018E37;
  }
}

.btn-link {
  font-family: Raleway Regular;
  font-size: 13px;
  padding: 0;
}


.btn-light {
  font-family: Raleway Medium;
  font-size: 15px;
  color: #018E37;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  line-height: 1;

  &:hover, &:focus, &:active {
    color: #018E37;
  }
}

.swiper-button-next, .swiper-button-prev {
  @media (max-width: 767.98px) {
    display: none;
  }
}

a {
  text-decoration: none !important;
}

.btn-warning {
  background: #F8990F !important;
  border-radius: 3px !important;
  border: 0 !important;

  &:hover {
    color: #FFFFFF;
  }
}

.btn-danger {
  color: #FFFFFF !important;
  background: #FF4501 !important;
  border-radius: 3px !important;
  font-family: Raleway Medium !important;
  font-size: 14px !important;
  text-align: center !important;
  border: 1px solid #FF4501;
}

.btn-outline-danger {
  font-family: Raleway Medium;
  font-size: 13px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #FF4501;
  border-radius: 3px;
  color: #FF4501;
  line-height: 1;
  padding: 11px 12px 8px 12px;

  &:hover {
    background-color: #FF4501;
    color: #FFFFFF;
  }
}

.btn-outline-primary {
  font-family: Raleway Medium;
  font-size: 13px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #018E37;
  border-radius: 3px;
  color: #018E37;
  line-height: 1;
  padding: 11px 12px 8px 12px;

  &:hover {
    background-color: #018E37 !important;
    color: #FFFFFF;
    border: 1px solid #018E37 !important;
  }
}

.btn-custom-primary, btn-custom-primary:hover, btn-custom-primary:focus {
  background: #018E37;
  border-radius: 4px;
  font-family: Raleway Medium;
  font-size: 14px;
  color: #FFFFFF !important;
  text-align: center;
  //padding: 6px 25px;
  display: inline-block;
  vertical-align: middle;
}

.btn-reset {
  i {
    color: #029432;
    margin-right: 5px;
  }

  color: #171D1F !important;
}

.dropdown-item.active {
  background-color: #2a8e36;
}

.bootstrap-picker-container{
  .dropdown-toggle{
    &:focus{
      outline: 0 !important;
      box-shadow: none;
    }
  }
  .filter-option-inner-inner{
    min-height: 32px;
    display: flex;
    //justify-content: center;
    align-items: center;
    span{
      margin-left: 5px;
    }
  }
  .bootstrap-select{
    width: auto !important;
    .dropdown-item{
      .text{
        display: flex;
        align-items: center;
        min-height: 32px;
        span{
          margin-left: 5px;
        }
      }
    }
    .dropdown-item.active, .dropdown-item:active{
      //background-color: transparent !important;
      //color: #029432;
    }
  }
  .btn-light{
    padding: 6px 9px;
    border: 1px solid #000;

    &:hover{
      border: 1px solid #000;
    }

    .filter-option-inner-inner{
      min-height: auto;
    }
  }
}



@mixin switch($res: 'sm') {
  $index: 1rem;
  $mainVal: 1rem;

  @if $res == 'md' {
    $index: 2rem;
    $mainVal: 1.5rem;
  } @else if $res == 'lg' {
    $index: 3rem;
    $mainVal: 2rem;
  } @else if $res == 'xl' {
    $index: 4rem;
    $mainVal: 2.5rem;
  }

  //margin-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */

  .form-check-input {
    height: $mainVal;
    width: calc(#{$index} + 0.75rem);
    border-radius: $mainVal * 2;

    @media (max-width: 575.98px) {
      height: 20px;
      width: 38px;
    }
  }
}

.lh-0 {
  line-height: 0 !important;
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
  @include switch();
}

.form-switch.form-switch-md {
  @include switch('md');
}

.form-switch.form-switch-lg {
  @include switch('lg');
}

.form-switch.form-switch-xl {
  @include switch('xl');
}

.Raleway Light {
  font-family: Raleway Light !important;
}

.title-light {
  font-family: Raleway Light;
  font-size: 35px;
  color: #202330;
  letter-spacing: 0;

  @media (min-width: 992px) and (max-width: 1199.8px) {
    font-size: 30px;
  }
  @media (max-width: 767.98px) {
    font-size: 20px;
  }

  @media (max-width: 575.98px) {
    font-size: 18px;
  }

}

.title-2 {
  font-family: Raleway Medium;
  font-size: 26px;

  @media (min-width: 992px) and (max-width: 1199.8px) {
    font-size: 24px;
  }
  @media (min-width: 768px) and (max-width: 991.8px) {
    font-size: 22px;
  }
  @media (max-width: 767.98px) {
    font-size: 20px;
  }

  @media (max-width: 575.98px) {
    font-size: 18px;
  }

}

.cursor-auto {
  cursor: auto !important;
}

.title-light-1 {
  font-family: Raleway Regular;
  font-size: 20px;
  color: #71757B;
  line-height: 20px;

  @media (max-width: 767.98px) {
    font-size: 18px;
  }

  @media (max-width: 575.98px) {
    font-size: 16px;
  }
}

.title-content-1 {
  font-family: Raleway Medium;
  font-size: 25px;
  color: #202330;
  letter-spacing: -0.46px;

  @media (max-width: 767.98px) {
    font-size: 17px;
  }
}

.title-content-1-light {
  font-family: Raleway Light;
  font-size: 25px;
  @media (max-width: 767.98px) {
    font-size: 17px;
  }
}

.title-content-2 {
  font-family: Raleway Medium;
  font-size: 18px;
  line-height: 20px;


  @media (max-width: 767.98px) {
    font-size: 15px;
  }
}

.text-body {
  font-family: Raleway Regular !important;
  font-size: 13px !important;
  color: #71757B !important;
  line-height: 20px !important;
}

.text-body-b-1 {
  font-family: Raleway Medium;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;

  @media (max-width: 575.98px) {
    font-size: 14px;
  }
}

.custom-swiper-nav {
  border: 2px solid #F77A27;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: -17.5px !important;

  &:after {
    color: #F77A27;
    font-size: 13px;

  }
}

.slider-range-container {
  padding-top: 50px;

  .slider-range {
    background: #E8E8E8;
    border-radius: 5px;
    border: 0 !important;
    height: 9px;

    .ui-slider-range {
      background: #009831;
      border-radius: 5px;
      border: 0;
      height: 9px;
    }

    .ui-slider-handle {
      background: #009833;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
      border-radius: 50%;
      border: 0 !important;
      top: -6px;

      span {
        position: absolute;
        top: -30px;
        color: #000;
      }
    }

    .ui-state-active, .ui-state-focus {
      border: 0 !important;
      outline: none !important;
    }

    span.ui-slider-handle:first-child > span {
      left: 5px;
      background-color: #0a58ca;
    }

    span.ui-slider-handle:last-child > span {
      left: -10px;
    }

  }

  .sliderLabels {
    position: relative;
    height: 35px;
    margin-top: 5px;

    .slider-label {
      position: absolute;
      width: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-style: normal;
        font-weight: 100;
        font-size: 12px;
      }
    }
  }
}

//@media (max-width: 767.98px) {
//body::-webkit-scrollbar {
//  width: 12px;               /* width of the entire scrollbar */
//}
//
//body::-webkit-scrollbar-track {
//  background: orange;        /* color of the tracking area */
//}
//
//body::-webkit-scrollbar-thumb {
//  background-color: blue;    /* color of the scroll thumb */
//  border-radius: 20px;       /* roundness of the scroll thumb */
//  border: 3px solid orange;  /* creates padding around scroll thumb */
//}


body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 12px;
}

body::-webkit-scrollbar:horizontal {
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 121, 76);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

body ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.top-0 {
  top: 0px !important;
}

.custom-chip-checks {
  display: flex;
  flex-wrap: wrap;

  .form-check {
    padding-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;

    label {
      cursor: pointer;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="checkbox"] + label, input[type="radio"] + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: Raleway Regular;
    font-size: 15px;
    color: #4E5156;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #202330;
    border-radius: 25px;
    padding: 9px 15px;
    line-height: 1;
  }


  input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #018E37;
    color: white;
    border: 1px solid #018E37;
    border-radius: 18px;
  }

}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  background-color: #000000;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }

  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }

  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }

  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }

  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }

  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }

  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }

  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }

  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }

  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }

  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }

  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }

  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }

  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }

  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }

  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }

  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }

  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }

  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}


.new-header {
  //z-index: 999999;
  position: relative;
  font-family: Raleway, sans-serif;

  .top-bar {
    .nav {
      .nav-item {
        .nav-link {
          font-size: 14px;
          color: #000;
          font-family: Raleway, sans-serif;
          font-weight: 400;
          cursor: pointer;
        }
        .saved{
          position: relative;
          .count{
            position: absolute;
            top: 0%;
            right: -10%;
            padding-bottom: 2px;
            height: 14px;
            width: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            border-radius: 50%;
            background-color: red;
          }
        }

        .active {
          color: #fff;
          background-color: #ff4500;
        }
      }

      .lang {
        @media(max-width: 767.98px) {
          display: none;
        }
      }
    }
  }

  .mobile-nav-container {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    //margin-bottom: 15px;
    overflow: hidden;

    div:not(:last-child) {
      border-right: 1px solid #d8d8d8;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      i {
        font-size: 21px;
      }
    }

    img {
      max-width: 30px;
    }

    span {
      color: #333333;
      font-family: Raleway Regular;
      font-size: 13px;
    }

    .btn-custom-primary {
      font-family: Raleway Regular;
      font-size: 13px;
    }
  }


  .page-header {
    position: fixed;
    top: 0px;
    left: 0;
    //transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    z-index: 999999;
    //d9d9d9

    .list-wrapper {
      height: 100%;
      //padding: 30px 20px;
      overflow-y: auto;
      //background: var(--menu-bg);
      background-color: white;

      .header {
        background-color: #009432;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;

        h2 {
          text-align: left;
          font-size: 20px;
          font-family: Raleway, sans-serif;
          color: #FFFFFF;
          margin-bottom: 0;
          line-height: 1;
          font-weight: 300;
        }

        .btn-close {
          opacity: 1;
        }
      }

      ul {
        padding: 0;
      }

      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        backface-visibility: hidden;
        transition: transform 0.5s;

        .level-3 {
          display: none;
        }
      }

      &:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        backface-visibility: hidden;
        transition: transform 0.5s;
      }

      &:nth-child(2).is-visible {
        transform: none;
      }

      &:nth-child(3).is-visible {
        transform: none;
      }

      &:nth-child(1) {
        > ul {
          > li {
            > .sub-menu {
              display: none;
            }
          }
        }
      }

      .toolsMenu {
        padding: 15px 15px 15px;
        border-bottom: 1px solid #ecedee;
        margin-top: 0 !important;
      }

      .sub-menu {
        //b{
        //  padding: 20px 15px 5px;
        //  border-bottom: 1px solid #ecedee;
        //  margin-top: 0!important;
        //  display: block;
        //  width: 100%;
        //}
      }
    }

    .wrapper-next-level {
      top: 50px !important;
    }
  }

  .back-one-level {
    display: flex;
    align-items: center;
    padding: 12px 26px;
    width: 100%;
    border-bottom: 1px solid #ecedee;

    i {
      font-size: 24px;
      margin-right: 10px;
    }

    span {
      margin-top: 2px;
    }
  }

  .menu-wrapper {
    display: none;
    position: relative;
    top: 0px;
    left: 0;
    width: 80%;
    height: calc(100vh);
    overflow: hidden;
    background-color: white;
    transform: translateX(-100%);
    transition: all ease-in .5s;


    ul {
      list-style-type: none;

      li {
        + {
          li {
          }
        }
      }

      a {
        display: block;
        position: relative;
        padding: 12px 30px;
        border-bottom: 1px solid #ecedee;
        color: #555;
        font-weight: 400;
        font-size: 16px;
        font-family: Raleway, sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        &:hover {
          color: var(--orange);

          &::before {
            content: "✦";
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            color: var(--orange);
          }
        }
      }

      a.nested {
        text-decoration: underline;
      }

      a.is-active {
        color: var(--orange);

        &::before {
          content: "✦";
          position: absolute;
          top: 50%;
          right: -20px;
          transform: translateY(-50%);
          color: var(--orange);
        }
      }

      b {
        color: #555;
      }
    }

    .menu {
      a {
        &:after {
          content: "\f105";
          position: absolute;
          right: 15px;
          font-family: FontAwesome;
          font-size: 24px;
          top: 50%;
          transform: translateY(-50%);
          color: #555;
        }
      }
    }
  }

  .menu-wrapper.is-visible {
    display: block;
    left: 0;
    transition: all ease-in .5s;
    transform: translateX(0%);

  }

  .new-main-nav {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #009432;
    //padding-left: 12px;
    //padding-right: 12px;

    @media (min-width: 992px) {
      //padding-left: 28px;
      //padding-right: 28px;
    }

    .navbar-toggler {
      &:focus {
        outline: 0;
        box-shadow: none !important;

      }
    }

    .nav-item {

      &:hover .dropdown-menu {
        @media (min-width: 992px) {
          display: block;
          margin-top: 0;
        }
      }

      .nav-link {
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0.9rem 15px;

        &:hover {
          background-color: #007126;
          border-radius: 0;
        }
      }

      .active {
        background-color: #007126;
        border-radius: 0;
      }

      .dropdown-toggle:after {
        display: none !important;
      }

      .dropdown-menu {
        z-index: 99999;
        top: 100%;
        background-color: #f5f5f5;
        border-top: none;
        color: #777;
        margin-top: 0 !important;
        border-radius: 0;
        padding: 25px 20px;

        @media (min-width: 992px) {
          left: auto !important;
        }

        .row {
          margin-right: 0;

          .col {
            min-width: 190px !important;
            max-width: 190px;
          }
        }

        h4 {
          line-height: 1;
          margin-bottom: 10px;

          a {
            font-size: 14px;
            font-weight: 600;
            color: #555;
          }
        }

        ol {
          list-style-type: none;
          padding-left: 0;

          li {
            line-height: 26px;

            a {
              color: #555;
              font-size: 13px;

              &:hover {
                color: #009432;
              }
            }
          }
        }
      }
    }
  }
}

.new-footer-container {
  font-family: Raleway, sans-serif !important;
  background-color: #e7e7e7;
  position: relative;
  z-index: 99;


  .footer-title {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: Raleway, sans-serif !important;
  }

  ul {
    list-style-type: none;
    padding: 0px;

    li {
      a {
        color: #000;
        font-size: 12px;
        padding-top: 20px;
        font-family: Raleway, sans-serif !important;
      }
    }
  }

  ul.social-icons {
    li {
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      .fa {
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-radius: 15px;
        text-align: center;
        background-color: #009432;
        color: #fff;
        font-size: 14px;
      }
    }
  }

  .subscribe-section {
    form {
      input {
        font-size: 14px;
        color: #525252;
        border-color: #999999;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:hover, &:focus {
          box-shadow: none !important;
          outline: none !important;
        }
      }

      .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 14px;
        font-weight: 400 !important;
        font-family: Raleway, sans-serif;
      }
    }
  }

  .copyright {
    padding: 20px 0;
    font-size: 12px;
    border-top: solid 1px #979797;
    background-color: #333;
    color: #fff;
  }
}

.modal {
  z-index: 999999;
}

#commonAlertModal {
  img {
    width: 40px;
    height: auto;
    margin-bottom: 15px;
  }

  p {
    font-size: 13px;
    color: #3d3d3dee;
    font-family: 'Raleway Regular';
    text-align: center;
    margin-bottom: 20px;
  }

  h5 {
    margin-bottom: 15px;
  }

  .success {
    h5 {
      color: #018e37;
    }
  }

  .error {
    h5 {
      color: #ff4501;
    }
  }
}

.iti-mobile .intl-tel-input.iti-container {
  z-index: 999999 !important;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

.mt-n2 {
  margin-top: -0.5rem !important;
}

.mt-n3 {
  margin-top: -0.75rem !important;
}

//.intl-tel-input:has( #initPhoneNo:invalid) {
//  ~ .invalid-feedback {
//    display: block;
//  }
//}






