.property-list-item {
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border: 0;
  //border-color: #e8e8e8;

  > .row > .img-container {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      @media (max-width: 575.98px) {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 4px;
      }
    }

    span {
      position: absolute;
      left: 19px;
      top: 8px;
      border-radius: 50%;
      background-color: #FFFFFF;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i {
        color: #018E37;
      }
      .fa-heart{
        display: none;
      }
    }

    span.active{
      .fa-heart{
        display: inline-block;
      }
      .fa-heart-o{
        display: none;
      }
    }

    .icons-container {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 12px;
      display: flex;
      background-image: linear-gradient(180deg, rgba(32, 35, 48, 0.00) 0%, rgba(32, 35, 48, 0.90) 100%);
      padding-bottom: 10px;
      padding-top: 30px;
      justify-content: center;
      border-bottom-left-radius: 4px;

      @media (max-width: 575.98px) {
        right: 12px;
        border-bottom-left-radius: 0px;
      }


      div {
        margin-left: 15px;
        margin-right: 15px;
        color: #FFFFFF !important;
        line-height: 1 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
          margin-right: 3px;
        }
      }
    }
  }

  .card-body {
    @media (max-width: 575.98px) {
      padding: 10px;
    }

    h5 {
      margin-bottom: 0;
    }

    .location {
      i {
        color: #018E37;
      }
    }

    .price-container {
      color: #029432;

      .price-label {
        color: #71757B;
        font-size: 17px;

        @media (max-width: 767.98px) {
          font-size: 14px;
        }
      }

      .sqft {
        font-family: Rubik-Regular;
        font-size: 14px;
        color: #A0A4AA;
        line-height: 20px;
        display: inline-block;


        @media (max-width: 767.98px) {
          font-size: 12px;
        }
      }
    }

    table {
      font-family: Rubik-Regular;
      font-size: 13px;
      color: #333333;
      line-height: 20px;
      margin-bottom: 0;

      @media (max-width: 575.98px) {
        font-size: 12px;
      }

      @media (max-width: 374.98px) {
        font-size: 10px;
      }

      tr{
        td,th{
          font-weight: normal;
          padding: 5px;
          @media (max-width: 575.98px) {
            padding: 4px;
          }
        }
        td:nth-child(4),td:nth-child(5){
          text-align: right;
        }
      }
    }

    .btn-container {
      .img-container {

        img {
          background: #FFFFFF;
          //box-shadow: 0 0 1px 0 rgba(0,0,0,0.30);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.07);
          padding: 5px;
          margin-right: 5px;
        }

        color: #018E37 !important;
      }
      .btn-danger{
        @media (max-width: 767.98px) {
          width: 100%;
        }
      }
    }
  }
}
