---
title: details
layout: home
class: devDetails container-fluid
permalink: /details.html
---
<div class="banner-img-container">
    <div class="row gx-3">
        <div class="col-9 position-relative">
            <img class="img-fluid" src="assets/img/details/banner_1.jpg" alt="banner">
            <a href="#" class="btn btn-link-custom position-absolute">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                Back to List
            </a>
        </div>
        <div class="col-3">
            <div class="row h-100 row-cols-1 gy-3 mt-0">
                <div class="col mt-0">
                    <img class="img-fluid" src="assets/img/details/banner_1.jpg" alt="banner">
                </div>
                <div class="col">
                    <img class="img-fluid" src="assets/img/details/banner_1.jpg" alt="banner">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-0">

    <div class="row title-container my-4">
        <div class="col pt-2">
            <h1>Marina Square</h1>
            <div class="location title-light-1 mt-1">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Mount Lavinia
            </div>

            <div class="title-content-2 price-container">
                Rs. 34.5 Mn
                <span class="price-label">Upwards</span>
                <span class="pt-md-2 pt-lg-0 sqft">
                    (Price per sqft Rs. 12000)
                </span>
            </div>

        </div>
        <div class="col-auto d-flex flex-column text-end">
            <a href="#" class="btn-link-custom">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                Share
            </a>
            <span>
                Est. Completion: May 2024
            </span>
        </div>
    </div>

    <div class="menuContainer mb-4">

        <div class="swiper detailsMenuSwiper">
            <div class="swiper-wrapper">
                {% for menu_items in site.data.details.menu_items %}
                <a href="#{{ menu_items.name }}" class="swiper-slide">
                    {{ menu_items.name }}
                </a>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12 col-lg-8 col-xl-9">
            <div class="overview mb-3">
                <h2 class="title-content-1 mb-3">
                    Overview
                </h2>

                <div class="overview-items d-flex flex-wrap">
                    <div class="item">
                        <img src="assets/img/details/overview/check.svg" alt="business_trade">
                        <span>
                            PROJECT AREA
                        </span>
                        <b>
                            05 Acres
                        </b>
                    </div>

                    <div class="item">
                        <img src="assets/img/details/overview/business-and-trade.svg" alt="business_trade">
                        <span>
                            PROJECT SIZE
                        </span>
                        <b>
                            1068 Units
                        </b>
                    </div>

                    <div class="item">
                        <img src="assets/img/details/overview/scale.svg" alt="business_trade">
                        <span>
                            UNIT SIZES
                        </span>
                        <b>
                            1200 sqft -
                            2300 sqft
                        </b>
                    </div>

                    <div class="item">
                        <img src="assets/img/details/overview/menu%20copy.svg" alt="business_trade">
                        <span>
                            BEDROOM RANGE
                        </span>
                        <b>
                            1-3 BHK Villas,
                            Studio Apartments
                        </b>
                    </div>

                </div>

                <div class="offer-container py-3">
                    <img src="assets/img/details/overview/offerwithText.svg" alt="offer">
                </div>

            </div>


            <div class="highlights">
                <h2 class="title-content-1 mb-3">
                    Highlights
                </h2>


                <ul class="list-group">
                    {% for i in (1..10) %}
                    <li class="list-group-item">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        Value beyond compare
                    </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="about-container mb-3">
                <h2 class="title-content-1 mb-3">
                    About
                </h2>
                <div class="hide-text position-relative">
                    <p>
                        Marina Square - Uptown Colombo is Sri Lanka’s first and largest harbor front luxury condominium
                        project developed by three internationally reputed industry giants; Access Engineering PLC,
                        China
                        Harbour Engineering Company and Mustafa Singapore. The complex will be developed on an expansive
                        five-acre land consisting of 1068 condos over 36 floors across 5 towers as well as having two
                        acres
                        exclusively allocated for recreational facilities and common areas. Located minutes away from
                        the
                        anticipated developments such as the Colombo International Financial City (Port City) and
                        Elevated
                        Highway, Marina Square – Uptown Colombo offers modern living spaces with infinite ROI
                        possibilities
                        and unmatched rental opportunities.
                    </p>
                    <div class="position-absolute bottom-0 w-100 d-flex justify-content-center hide-btn-container pt-3 pb-2">
                        <button type="button" class="btn btn-light bg-transparent border-0 showAbout">
                            Show More <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="features-container show-less">
                <h2 class="title-content-1 mb-3 mt-4 pt-1">
                    Features
                </h2>

                <div class="row mb-4">
                    <div class="col-4">
                        <img class="img-fluid" src="assets/img/details/features/feature_4.png" alt="features">
                    </div>
                    <div class="col">
                        <h3>Club House & Function Halls</h3>
                        <p>
                            Entertaining guests and finding a space to wind-down in privacy is made so much more
                            convenient with a common bar and lounge space for residents of Marina Square - Uptown
                            Colombo. A unique and luxurious atmosphere has been created for patrons to enjoy their free
                            time from the foot of their doorsteps.

                        </p>
                    </div>
                </div>

                <div class="row flex-row-reverse mb-4">
                    <div class="col-4">
                        <img class="img-fluid" src="assets/img/details/features/feature_3.png" alt="features">
                    </div>
                    <div class="col">
                        <h3>Infinity Pool and Kids Pool</h3>
                        <p>
                            An infinity pool set amidst the backdrop of the Colombo harbour will provide a captivating
                            view of one of the main arteries of the city. Kicking back after a long day or even relaxing
                            will be a blissful and care-free experience through the ever-changing and vibrant skyline of
                            Colombo.
                        </p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-4">
                        <img class="img-fluid" src="assets/img/details/features/feature_1.png" alt="features">
                    </div>
                    <div class="col">
                        <h3>Children's Play Area</h3>
                        <p>
                            One of the largest kid’s play areas in luxury urban development, Marina Square Uptown
                            Colombo is a wonderland for kids and adults alike. Teach your kids to ride a bike or camp
                            out under the stars, all within the sanctuary of Marina Square – Uptown Colombo
                        </p>
                    </div>
                </div>

                <div class="row flex-row-reverse mb-4">
                    <div class="col-4">
                        <img class="img-fluid" src="assets/img/details/features/feature_2.png" alt="features">
                    </div>
                    <div class="col">
                        <h3>Lifestyle & Entertainment</h3>
                        <p>
                            The urban luxury lifestyle at Marina Square Uptown Colombo offers a range of entertainment
                            for kids and adults alike. Over 2 acres of landscaped gardens and sky decks create a
                            multitude of entertainment locations and casual hangouts to entertain and enthrall your
                            family friends.
                        </p>
                    </div>
                </div>

                <div class="position-absolute bottom-0 w-100 d-flex justify-content-center hide-btn-container pt-3 pb-2">
                    <button type="button" class="btn btn-light bg-transparent border-0 showFeatures">
                        Show More <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                </div>

            </div>

            <div class="floor-plan-container mb-4">

                <h2 class="title-content-1">
                    Configurations & Floor Plans
                </h2>

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                1BR - 1A / 1B
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                <div class="row border-bottom gx-0">
                                    <div class="col">
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                        data-bs-target="#home" type="button" role="tab"
                                                        aria-controls="home" aria-selected="true">Home
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                        data-bs-target="#profile" type="button" role="tab"
                                                        aria-controls="profile" aria-selected="false">Profile
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                                        data-bs-target="#contact" type="button" role="tab"
                                                        aria-controls="contact" aria-selected="false">Contact
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <button class="btn btn-outline-danger">
                                            REQUEST A CALL BACK
                                        </button>
                                    </div>
                                </div>


                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                         aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-12 col-lg-5 col-xl-4 info-container">

                                                <div class="info-item">
                                                    <label>
                                                        FLOOR AREA
                                                    </label>
                                                    <b>568 sqft</b>
                                                </div>

                                                <div class="info-item">
                                                    <label>
                                                        BEDROOMS
                                                    </label>
                                                    <b>1</b>
                                                </div>

                                                <div class="info-item">
                                                    <label>
                                                        BATHROOMS
                                                    </label>
                                                    <b>1</b>
                                                </div>

                                                <div class="info-item">
                                                    <label>
                                                        PARKING SPACES
                                                    </label>
                                                    <b>2</b>
                                                </div>

                                                <div class="info-item">
                                                    <label>
                                                        UNITS AVAILABLE
                                                    </label>
                                                    <div class="lh-0">
                                                        <span class="text-decoration-line-through">
                                                        20
                                                    </span>
                                                        <b>12</b></div>
                                                </div>

                                                <div class="info-item">
                                                    <label>
                                                        PRICE
                                                    </label>

                                                    <b class="primary">Rs. 24,700,000</b>
                                                </div>

                                                <div class="info-item mb-2">
                                                    <label>
                                                        VIEWS
                                                    </label>

                                                    <div class="custom-chip-checks">

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   value="Residential Apartment"
                                                                   name="propertyType" id="view_1">
                                                            <label class="form-check-label" for="view_1">
                                                                Sea View
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   value="Residential Apartment"
                                                                   name="propertyType" id="view_2">
                                                            <label class="form-check-label" for="view_2">
                                                                City View
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   value="Residential Apartment"
                                                                   name="propertyType" id="view_3">
                                                            <label class="form-check-label" for="view_3">
                                                                Beach Front
                                                            </label>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="info-item">
                                                    <label>
                                                        ADDITIONAL FEATURES
                                                    </label>

                                                    <b>Lorem ipsum dolor sit amet</b>
                                                </div>

                                            </div>
                                            <div class="col-12 col-lg-7 col-xl-8 p-xl-3 d-flex flex-column justify-content-center align-items-center image-container">
                                                <img class="img-fluid"
                                                     src="assets/img/details/features/building-view.png"
                                                     alt="building view">
                                                <span>
                                                    3D aerial view
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                         aria-labelledby="profile-tab">...
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel"
                                         aria-labelledby="contact-tab">...
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="amenities-container mb-4">
                <h2 class="title-content-1 mb-3">
                    Amenities
                </h2>

                <div class="items-container">

                    <div class="item">
                        <img src="assets/img/details/amenities/swimming-pool.png" alt="swimmingPool">
                        Swimming Pool
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/swimming-pool.png" alt="swimmingPool">
                        Car Parking
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/generator.png" alt="swimmingPool">
                        Backup Generator
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/golf-club.png" alt="swimmingPool">
                        Club House
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/swimmer.png" alt="swimmingPool">
                        Infinity Pool
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/restaurant.png" alt="swimmingPool">
                        Restaurant
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/snowflake.png" alt="swimmingPool">
                        A/C
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/sunbed.png" alt="swimmingPool">
                        Rooftop
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/gym.png" alt="swimmingPool">
                        Gymnasium
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/tv.png" alt="swimmingPool">
                        Cable TV
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/fire.png" alt="swimmingPool">
                        Fire Detection
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/shopping-cart.png" alt="swimmingPool">
                        Shopping Mall
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/rocking-horse.png" alt="swimmingPool">
                        Kids Play Area
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/24-hours.png" alt="swimmingPool">
                        24hr Security
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/jogging.png" alt="swimmingPool">
                        Jogging Track
                    </div>

                    <div class="item">
                        <img src="assets/img/details/amenities/gas.png" alt="swimmingPool">
                        LP Gas System
                    </div>

                </div>

                <h3 class="title-content-2 mt-2 mb-3">
                    Additional Amenities
                </h3>

                <div class="additional-item">
                    {% for i in (1..12) %}
                    <div class="item">
                        Coffee Bar
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="specification-container mb-4">

                <h2 class="title-content-1 mb-3">
                    Specifications
                </h2>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="title">
                            <img src="assets/img/details/speicification/door.png" alt="door">
                            <h3>Doors</h3>
                        </div>

                        <div class="table-responsive">

                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>Internal:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="col-12 col-md-6">
                        <div class="title">
                            <img src="assets/img/details/speicification/draws.png" alt="door">
                            <h3>Flooring</h3>
                        </div>

                        <div class="table-responsive">

                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>Internal:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="col-12 col-md-6">
                        <div class="title">
                            <img src="assets/img/details/speicification/mansory.png" alt="door">
                            <h3>Walls</h3>
                        </div>

                        <div class="table-responsive">

                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>Internal:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="col-12 col-md-6">
                        <div class="title">
                            <img src="assets/img/details/speicification/puzzle.png" alt="door">
                            <h3>Other</h3>
                        </div>

                        <div class="table-responsive">

                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>Internal:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="col-12 col-md-6">
                        <div class="title">
                            <img src="assets/img/details/speicification/spanner.png" alt="door">
                            <h3>Fittings</h3>
                        </div>

                        <div class="table-responsive">

                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>Internal:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                <tr>
                                    <td>Main:</td>
                                    <th>Laminated Flush Door</th>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

            <div class="videos-container mb-4">
                <h2 class="title-content-1 mb-3">
                    Videos
                </h2>

                <nav>
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Key Features
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile
                        </button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!--                        <video class="" playsinline muted loop poster="polina.jpg" id="bgvid">-->
                        <!--                            <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4">-->
                        <!--                        </video>-->

                        <video
                                id="my-video"
                                class="video-js vjs-default-skin vjs-big-play-centered"
                                preload="auto"
                                width="auto"
                                height="auto"
                                controls
                                poster="assets/img/details/video-poster.png"
                                data-setup="{}"
                        >
                            <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4"/>
                        </video>


                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...
                    </div>
                </div>

            </div>

            <div class="enquire-container mb-4">
                <h2 class="title-content-1 mb-3">
                    Enquire
                </h2>

                <div class="row info mb-4">
                    <div class="col-auto">
                        <img class="img-thumbnail" src="assets/img/details/access-e.jpg" alt="engineer">
                    </div>
                    <div class="col-auto">
                        <span>Contact Access Engineering</span>
                        <div class="phone-info">
                            +94 123…
                            <a class="btn btn-link">Click to view Telephone Number</a>
                        </div>
                    </div>
                </div>

                <form class="row g-3">
                    <div class="col-md-6">
                        <input type="text" placeholder="Your Name *" class="form-control mb-3" id="inqName">
                        <input type="email" placeholder="Email Address *" class="form-control mb-3" id="inqEmail">
                        <input type="text" placeholder="Contact Number" class="form-control" id="inqContact">

                    </div>
                    <div class="col-md-6">
                        <select id="inq" class="form-select mb-3">
                            <option disabled selected>Select Unit Type</option>
                            <option>...</option>
                        </select>

                        <textarea placeholder="Message" class="form-control" id="Message" rows="3"></textarea>


                    </div>
                    <div class="col-12">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" id="check1">
                            <label class="form-check-label" for="check1">
                                I confirm that I have read and agree to Lanka Property Web’s <a>Terms & Conditions</a>
                                and
                                <a>Privacy Policy.</a>
                            </label>
                        </div>
                    </div>

                    <div class="col-12 mt-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check2">
                            <label class="form-check-label" for="check2">
                                Please confirm that you consent to us passing your information to Lorm Ipsum. </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-custom-primary px-5">SEND</button>
                    </div>
                </form>

            </div>

            <div class="chat-container mb-4">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img src="assets/img/details/chatImg.png" alt="chat">
                    </div>
                    <div class="col ps-4">
                        <h2 class="title-content-1 mb-2">
                            Have something to share?
                        </h2>
                        <a class="d-flex align-items-center" href="#">
                            Start a live discussion
                            <i class="fa fa-caret-right ms-2" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="payment-plan-container mb-4">
                <h2 class="title-content-1 mb-2">
                    Payment Plan
                </h2>
                <div class="position-relative">
                    <div class="swiper payment-plan-swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                            <span>
                                10%
                            </span>
                                <p>
                                    After 5th floor
                                </p>
                            </div>
                            <div class="swiper-slide">
                            <span>
                                15%
                            </span>
                                <p>
                                    After 10th floor
                                </p>
                            </div>
                            <div class="swiper-slide">
                            <span>
                                15%
                            </span>
                                <p>
                                    On super structure completed
                                </p>
                            </div>
                            <div class="swiper-slide">
                            <span>
                                60%
                            </span>
                                <p>
                                    At handover
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="swiper-button-prev payment-prev swiper-button custom-swiper-nav"></div>
                    <div class="swiper-button-next payment-next swiper-button custom-swiper-nav"></div>

                </div>
            </div>

            <div class="bank-loan-container mb-4">
                <h2 class="title-content-1 mb-2">
                    Bank Loan Offers
                </h2>
                <div class="position-relative">
                    <div class="swiper loan-swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <img src="assets/img/details/banks/Bitmap.jpg" alt="bank">
                                <label>
                                    FLOATING
                                </label>
                                <div class="value">
                                    6.50%
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/img/details/banks/boc.jpg" alt="bank">
                                <label>
                                    FLOATING
                                </label>
                                <div class="value">
                                    5.75%
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/img/details/banks/SAMPATH-BANK.jpg" alt="bank">
                                <label>
                                    FLOATING
                                </label>
                                <div class="value">
                                    5.75%
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/img/details/banks/commercial-bank-of-ceylon-plc-vector-logo.jpg" alt="bank">
                                <label>
                                    FLOATING
                                </label>
                                <div class="value">
                                    5.75%
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="swiper-button-prev loan-prev swiper-button custom-swiper-nav"></div>
                    <div class="swiper-button-next loan-next swiper-button custom-swiper-nav"></div>

                </div>
            </div>

        </div>
        <div class="col-12 col-lg-4 col-xl-3 pt-4">
            <div class="contact-form">
                <div class="title-box">
                    <div class="title-content-2 price-container">
                        Rs. 34.5 Mn
                        <span class="price-label">Upwards</span>
                        <span class="pt-md-2 pt-lg-0 sqft">
                            (Price per sqft Rs. 12000)
                        </span>
                    </div>
                </div>

                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                               placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
