<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    {% if page.title == "details" %}
    <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet"/>
    {% endif %}


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.0.1/css/intlTelInput.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="preload" as="font" href="assets/fonts/rubik-regular-webfont.woff2" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/rubik-medium-webfont.woff2" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/rubik-light-webfont.woff2" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/rubik-bold-webfont.woff2" type="font/woff2"
          crossorigin="anonymous">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>


    <!--    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>-->

    {% if page.title == "details" %}
    <!--    <script-->
    <!--            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDscfwXSs8LQxe28L8q9ZgNpL4xDJM4C6k&libraries=places">-->
    <!--    </script>-->
    {% endif %}

    <title>{{ page.title }}</title>
</head>

<body>

{% include header.html %}

<section class="{{ page.class }}">
    {{ content }}
</section>

{% include footer.html %}



{% if page.title == "home" %}
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDscfwXSs8LQxe28L8q9ZgNpL4xDJM4C6k&callback=initMap&v=weekly"
        defer
></script>
{% endif %}


<script src="assets/js/jquery-3.4.1.slim.min.js"></script>

<script src="assets/js/jquery-3.6.0.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="assets/js/jquery.ui.touch-punch.min.js"></script>


<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/popper.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.0.1/js/intlTelInput.min.js"></script>


<script src="assets/js/bootstrap.min.js"></script>

{% if page.title == "home" %}
<script src="assets/js/bootstrap-select.min.js"></script>
{% endif %}


{% if page.title == "home" %}
<script src="assets/js/main.js"></script>
<script src="assets/js/map.js"></script>
{% else %}
<script src="assets/js/details.js"></script>
{% endif %}

{% if page.title == "details" %}
<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDscfwXSs8LQxe28L8q9ZgNpL4xDJM4C6k&callback=initMap&libraries=places&v=weekly"
        defer></script>
{% endif %}

<script src="assets/js/common.js"></script>


<script type="text/javascript">
    $(window).on('load', function () {
        $('#loading').hide();
    });
</script>

<div id="loading">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

{% include common_alert.html %}

</body>

</html>
